.block-section-observability {
	.block-content {
		display: grid;
		gap: var(--spacing-50);
		grid-column: content;
		grid-template-columns: 1fr;
	}

	.card-large {
		background-color: var(--surface-white);
		border-radius: var(--radius-large);
		border: var(--border-primary);
		display: grid;
		gap: var(--spacing-40);
		grid-template-columns: 1fr;
		overflow: clip;
		padding: var(--padding-card-large, var(--spacing-32));
		position: relative;
		transform: translate3d(0, 0, 0);

		.section-intro {
			padding: 0;
		}

		@media (width >=40rem) {
			--padding-card-large: var(--spacing-80);
		}
	}

	.card-large-content {
		display: grid;
		grid-template-columns: 1fr;
		row-gap: var(--spacing-24);
		max-width: 600px;
	}

	.layout-micro {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 288px));
		gap: var(--spacing-24);
		margin-block-end: var(--spacing-16);
	}

	.section-intro {
		z-index: 1;
	}

	.graphic-sphere {
		--g: radial-gradient(circle, var(--colour-accent-1-400), var(--colour-secondary-400));
		--s: 420px;

		background-image: var(--g);
		color: var(--colour-neutral-white);
		height: var(--s);
		inset: var(--i, 50% -15rem auto auto);
		translate: 0 -58%;
		mask-image: url(#mask-sphere-14);
		pointer-events: none;
		position: absolute;
		width: var(--s);
		z-index: 0;

		@media (width >=40rem) {
			--i: 50% -15rem auto auto;
		}

		@media (width >=86rem) {
			--i: 10rem -8rem auto auto;
			--s: 420px;

			scale: 1.15;
			rotate: 40deg;
		}
	}

	.mask-source {
		height: 0;
		overflow: hidden;
		position: absolute;

		.circle {
			stroke-width: 5.3px;
			stroke: var(--colour-neutral-white);

			@media (width >=40rem) {
				opacity: 0;
				transition: all 0.3s ease-in-out;
				transition-delay: calc(0.01s * sibling-index());
			}

			.in-view & {
				opacity: 1;
			}
		}

		.mesh {
			fill: var(--colour-neutral-white);
			stroke-width: 0.3px;
			stroke: var(--colour-neutral-white);
		}
	}
}
