@scope (.block-section-observability) {
	.block-content {
		display: grid;
		gap: var(--spacing-50);
		grid-column: content;
		grid-template-columns: 1fr;
	}

	.card-large {
		background-color: var(--surface-white);
		border-radius: var(--radius-large);
		border: var(--border-primary);
		display: grid;
		gap: var(--spacing-40);
		grid-template-columns: 1fr;
		overflow: clip;
		padding: var(--padding-card-large, var(--spacing-32));
		position: relative;
		transform: translate3d(0, 0, 0);

		.section-intro {
			padding: 0;
		}

		@media (width >=40rem) {
			--padding-card-large: var(--spacing-80);
		}
	}

	.card-large-content {
		display: grid;
		grid-template-columns: 1fr;
		row-gap: var(--spacing-24);
		max-width: 600px;
	}

	.layout-micro {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 288px));
		gap: var(--spacing-24);
		margin-block-end: var(--spacing-16);
	}

	.section-intro {
		z-index: 1;
	}

	.graphic-sphere {
		width: 460px;
		height: 460px;
		position: absolute;
		inset: -6.5rem -7.5rem auto auto;
		rotate: 6.5deg;

		svg {
			display: flex;
		}

		#circles circle {
			r: 0.5;
			transition-delay: calc((sibling-count() - sibling-index() + 1) * 0.007s);

			opacity: 0;

			.in-view & {
				/* Enter */
				scale: 1;
				transition-delay: calc(0.01s * sibling-index());
				transition-delay: 0.5s;
				opacity: 1;
				r: 5.5;
			}
		}

		#triangles .triangle {
			/* fill: var(--colour-accent-1-400, #ea5ec1); */
			stroke-width: 0.75;
			transform-box: fill-box;
			transform-origin: center;

			opacity: 0.3;
			scale: 0.5;
			transition: all 0.3s ease-in-out;

			/* Exit  */
			transition-delay: calc((sibling-count() - sibling-index() + 1) * 0.007s);

			.in-view & {
				/* Enter */
				scale: 1;
				transition-delay: calc(0.007s * sibling-index());
				opacity: 1;
			}

			&:hover {
				fill: red;
			}
		}
		#circles circle {
			/* fill: var(--colour-accent-1-400, #ea5ec1); */
			fill: url(#sphere-gradient);
			stroke-width: 2.75;
		}
	}
}
