@scope (.block-section-observability) {
	.block-content {
		display: grid;
		gap: var(--spacing-50);
		grid-column: content;
	}

	.heading-lg {
		--text-wrap-heading-lg: balance;
		--max-width-heading-lg: 20ch;

		@media (width >=80rem) {
			--max-width-heading-lg: auto;
		}
	}

	.card-large {
		background-color: var(--surface-white);
		border-radius: var(--radius-large);
		border: var(--border-primary);
		display: grid;
		grid-template-columns: [w-start n-start] fit-content(600px) [n-end] 1fr [w-end];
		overflow: clip;
		padding: var(--padding-card-large, var(--spacing-32));
		position: relative;
		row-gap: var(--spacing-56);

		/* Subpixel rendering IOS */
		transform: translate3d(0, 0, 0);

		.section-intro {
			padding: 0;
		}

		@media (width >=40rem) {
			--padding-card-large: var(--spacing-60);
		}

		@media (width >=64rem) {
			--padding-card-large: var(--spacing-80);
		}
	}

	.card-large-pitch {
		display: grid;
		grid-column: w;
		row-gap: var(--spacing-40);
	}

	.layout-micro {
		display: grid;
		gap: var(--spacing-24);
		width: 80%;
		anchor-name: --layout-micro;

		@media (width >=64rem) {
			grid-template-columns: repeat(3, 1fr);
		}

		@media (width >=80rem) {
			grid-template-columns: repeat(3, fit-content(288px));
		}

		@media (width >=96rem) {
			width: auto;
		}
	}

	.card-large-content {
		display: grid;
		grid-column: n;
		row-gap: var(--spacing-24);
	}
}
