@scope (.block-section-observability) {
	.graphic-sphere {
		inset-block: var(--ib, anchor(center) auto);
		inset-inline: var(--ii, calc(anchor(right) - 4rem) auto);
		position-anchor: --layout-micro;
		position: absolute;
		rotate: var(--r, 0);
		translate: var(--t, 0 -50%);
		width: var(--w, 440px);

		@media (width >=96rem) {
			--ib: -6.5rem auto;
			--ii: auto -7.5rem;
			--r: 6.5deg;
			--t: 0;
			--w: 460px;
		}
	}

	.graphic-sphere-svg {
		display: flex;
	}

	.outline {
		opacity: var(--o, 0.2);
		transition: opacity 0.4s ease;

		.in-view-sphere & {
			--o: 1;

			transition-delay: 0.3s;
		}
	}

	.triangle {
		opacity: var(--o, 0.3);
		scale: var(--s, 0.5);
		transform-box: fill-box;
		transform-origin: center;
		transition-delay: var(--t, calc((sibling-count() - sibling-index() + 1) * 0.007s));
		transition-duration: 0.3s;
		transition-property: opacity, scale;
		transition-timing-function: ease-in-out;

		.in-view-sphere & {
			--o: 1;
			--s: 1;
			--t: calc(0.007s * sibling-index());
		}
	}

	.circle {
		r: 0.5;
		opacity: 0;
		transition:
			r 0.4s ease,
			opacity 0.4s ease,
			scale 0.4s ease;
		transition-delay: calc((sibling-count() - sibling-index() + 1) * 0.007s);

		.in-view-sphere & {
			scale: 1;
			opacity: 1;
			r: 5.5;
			transition-delay: 0.5s;
		}
	}
}
