@scope (.block-grid-cards-simple) {
	.block-content {
		display: grid;
		grid-column: content;
		grid-template-columns: 1fr;
		row-gap: var(--spacing-48);
		border-radius: var(--radius-card);
		border: var(--border-primary);
		padding: var(--spacing-40);
		background-color: var(--surface-white);

		@media (width >=48rem) {
			padding: var(--spacing-80);
		}

		@media (width >=64rem) {
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: [f-start i-start] min-content [i-end c-start] min-content min-content min-content [c-end f-end];
			row-gap: var(--spacing-32);
		}
	}
}
