.card-photo {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-24);
	position: relative;
	overflow: clip;
	background: var(--surface-white);
	border-radius: var(--radius-card);
	border: 1px solid var(--colour-border-border-gray);
	padding-block: var(--spacing-32);
	padding-inline: var(--spacing-32) 180px;

	&:has(a:hover) {
		--img-inset: 50% -8% 0 auto;
		--img-rad: 200% 34% 0 42%;
		--img-height: 140%;

		border-color: var(--colour-secondary-base);
		transition: border-color 0.3s ease-in-out;
	}

	.wrappper-img {
		width: 200px;
		height: var(--img-height, 120%);
		inset: var(--img-inset, 58% -5% 0 auto);
		border-radius: var(--img-rad, 600% 0 0 0);
		translate: 0 -50%;
		position: absolute;
		overflow: clip;
		transition: all 0.3s 0.3s ease-in-out;

		&::after {
			content: '';
			position: absolute;
			inset: 0;
			height: 100%;
			width: 100%;
			background-image: linear-gradient(
				to bottom,
				color-mix(in oklab, var(--colour-secondary-300) 80%, transparent) 20%,
				color-mix(in oklab, var(--colour-primary-300) 60%, transparent) 70%
			);
			backdrop-filter: grayscale(1);
		}
	}

	.image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		display: block;
		position: absolute;
		z-index: 0;
	}

	.content {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-32);
		z-index: 1;
	}

	.title {
		text-wrap: balance;
	}

	.body {
		gap: var(--spacing-24);
		display: flex;
		flex-direction: column;
	}

	.body-sm {
		text-wrap: pretty;
	}
}
