{#
  Card Photo - displays a content card with image, title, and paragraph components.
#}

{% set card_title = attributes.title|default('') %}
{% set image_url = attributes.imageUrl|default('') %}
{% set image_alt = attributes.imageAlt|default(card_title)|strip_html %}
{% set unsplash_photographer = attributes.unsplashPhotographer|default('') %}
{% set unsplash_source_url = attributes.unsplashSourceUrl|default('') %}

<card-photo class="card-photo" role="article">
	{% if image_url %}
		<wrappper-img class="wrappper-img">
			<img class="image" src="{{ image_url }}" alt="{{ image_alt }}"/>
		</wrappper-img>
	{% endif %}

	<div class="content">
		{% if card_title %}
			<h3 class="heading-sm">{{ card_title|strip_html }}</h3>
		{% endif %}

		<div class="body">
			{{ content|raw }}
		</div>
	</div>
</card-photo>
