.wp-block-observata-card-photo {
	.card-photo-editor__controls .block-editor-block-list__layout {
		display: flex;
		flex-direction: column;
	}

	.card-photo-editor__image-buttons {
		display: flex;
		gap: 8px;
		margin-bottom: 16px;
	}

	.card-photo-editor__upload-btn,
	.card-photo-editor__unsplash-btn {
		flex: 1;
	}
}
