.block-grid-cards-geo {
	.block-content {
		display: grid;
		grid-column: content;
		grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
		grid-template-rows: min-content;
		gap: var(--spacing-50);
	}
}
