.block-section-hero-home {
	--r-1: var(--size-height-heading);
	--r-2: 2rem;
	--r-4: 120px;
	--o: 1.55;
	--end: calc(var(--r-4) * var(--o));
	--bottom: 60px;

	grid-template-rows: var(--r-1) var(--r-2) [hero-start] min-content [hero-end] var(--end);

	@media (width >=40rem) {
		--r-2: 3rem;
		--r-4: 220px;
		--o: 1.25;
		--bottom: 20px;
	}

	@media (width >=48rem) {
		--r-2: 5rem;
		--r-4: 300px;
		--o: 0.75;
		--bottom: 10px;
	}

	@media (width >=64rem) {
		--r-2: 4.5rem;
		--r-4: 350px;
		--o: 0.75;
		--bottom: 20px;
	}

	@media (width >=80rem) {
		--r-2: 3.8rem;
		--r-4: 350px;
		--o: 0.85;
		--bottom: 20px;
	}

	@media (width >=96rem) {
		--r-2: 3.8rem;
		--r-4: 350px;
		--o: 0.75;
		--bottom: 20px;
	}

	.wrap-canvas {
		grid-column: 1 / -1;
		grid-row: 1 / -1;
		min-height: var(--stretch);
		overflow: clip;
		pointer-events: none;
		position: relative;
		width: 100%;
		z-index: 0;
		display: grid;
		grid-template-columns: 1fr 1fr;

		@media (width >=96rem) {
			grid-column: 2 / -2;
			border-inline: var(--border-grey);
		}
	}

	.hero-shader {
		bottom: 50px;
		height: var(--r-4);
		inset: auto 0 var(--bottom) 50%;
		pointer-events: none;
		position: absolute;
		translate: -50% 0;
		width: 115%;
	}
}
