.block-section-hero-home {
	.wrap-canvas {
		grid-row: 1 / -1;
		pointer-events: none;
		overflow: clip;
		position: relative;
		grid-column: 1 / -1;
		z-index: 0;
		overflow: clip;
		width: 100%;
		position: absolute;
		min-height: 100%;

		@media (width >=96rem) {
			grid-column: 2 / -2;
			border-inline: var(--border-grey);
		}
	}

	.hero-shader {
		position: absolute;
		inset: auto 0 0 50%;
		pointer-events: none;
		translate: -50% 0;
		bottom: 50px;
		width: 120%;
		height: 120px;

		@media (width >=40rem) {
			width: 120%;
			height: 220px;
		}

		@media (width >=48rem) {
			width: 120%;
			height: 300px;
			bottom: 20px;
		}

		@media (width >=64rem) {
			width: 120%;
			height: 350px;
		}

		@media (width >=80rem) {
			width: 110%;
			height: 350px;
		}

		@media (width >=96rem) {
			width: 110%;
			height: 350px;
		}
	}
}
