.contact-details {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-24);
	border: 1px solid var(--colour-border-border-gray);
	padding: var(--spacing-32);
	border-radius: var(--radius-card);
	align-self: start;

	@media (width >=64rem) {
		grid-area: details;
	}

	.item {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-8);
	}

	.label {
		font-family: var(--font-stack-heading);
		font-size: var(--size-body-sm);
		font-weight: var(--typography-weight-semi);
		color: var(--colour-primary-700);
		text-transform: uppercase;
		letter-spacing: 0.05em;
	}

	.value {
		font-family: var(--font-stack-body);
		font-size: var(--size-body-md);
		color: var(--colour-text-body-default);
		line-height: var(--line-height-body-md);
	}

	a.value {
		text-decoration: none;
		transition: color 0.2s ease;
	}

	a.value:hover {
		color: var(--colour-secondary-500);
	}
}
