.contact-details {
	align-self: start;
	background-color: var(--colour-neutral-white);
	border-radius: var(--radius-card);
	border: 1px solid var(--colour-border-border-gray);
	display: flex;
	flex-direction: column;
	gap: var(--spacing-24);
	padding: var(--spacing-32);
	position: sticky;
	top: 6rem;

	@media (width >=64rem) {
		grid-area: details;
	}

	.item {
		display: grid;
		column-gap: var(--spacing-16);
		row-gap: var(--spacing-8);
		grid-template-areas: 'icon label' 'icon value';
		grid-template-columns: min-content 1fr;
		grid-template-rows: min-content;
	}

	.icon {
		--size: 32px;

		grid-area: icon;
		color: var(--colour-neutral-300);
	}

	.label {
		font-family: var(--font-stack-heading);
		font-size: var(--size-body-sm);
		font-weight: var(--typography-weight-semi);
		color: var(--colour-primary-700);
		text-transform: uppercase;
		letter-spacing: 0.05em;
		grid-area: label;
	}

	.value {
		font-family: var(--font-stack-body);
		font-size: var(--size-body-md);
		color: var(--colour-text-body-default);
		line-height: var(--line-height-body-md);
		text-decoration: none;
		grid-area: value;

		*[href] {
			transition: color 0.2s ease;

			&:hover {
				color: var(--colour-secondary-500);
			}
		}
	}
}
