.block-grid-cards-micro {
	overflow: clip;

	.block-content {
		display: grid;
		grid-column: content;
		grid-template-columns: 1fr;
		gap: var(--spacing-50);
	}

	.cards-container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
		gap: var(--spacing-24);
	}
}
