{% set section_title = attributes.sectionTitle|default('') %}
{% set intro_text = attributes.introText|default('') %}

<section class="section-block block-grid-cards-geo">
	<block-content class="block-content">
		{{ content|raw }}
	</block-content>
</section>
