{
    "tabWidth": 2,
    "useTabs": true,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "es5",
    "printWidth": 120,
    "plugins": [
        "prettier-plugin-twig-melody"
    ],
    "overrides": [
        {
            "files": [
                "*.twig"
            ],
            "options": {
                "parser": "melody"
            }
        }
    ]
}