.block-hero-page {
    background: var(--colour-background-bg-white);
    display: grid;
    align-items: center;
    background-image: radial-gradient(59.27% 62.89% at 49.97% 64.49%, #FFF 70.8%, rgba(255, 255, 255, 0.00) 100%), linear-gradient(90deg, #D4DBE0 0%, #E9EDEF 100%);
    grid-column: full;
    grid-template-rows: 6rem 1fr;
    display: grid;
    grid-template-columns: subgrid;
    border-bottom: 1px solid var(--colour-border-border-gray);

    .hero-page-content {
        width: 100%;
        z-index: 3;
        display: grid;
        grid-template-columns: 1fr;
        padding: 5rem 2rem;
        padding: 5rem 2rem;
        grid-row: 2;
        grid-column: content;
        text-align: left;
        row-gap: var(--spacing-spacing-40)
    }

    .heading-hero-page {
        font-size: 56px;
        font-weight: var(--typography-weight-bold);
        color: var(--colour-text-text-hero);
        line-height: 60px;
        letter-spacing: -1px;
        margin: 0;
        text-box: trim-both cap alphabetic;


        i {
            color: var(--colour-secondary-500);
        }
    }

    .hero-page-subheading {
        font-size: 20px;
        font-weight: var(--fonts-weight-font-weight-regular);
        color: var(--colour-text-text-hero-subheading);
        line-height: 31px;
        letter-spacing: -0.4px;
        max-width: 60ch;
        margin: 0;
        text-box: trim-both cap alphabetic;
    }
}