<button-toggle>
	<button id="trigger-navigation" class="trigger-navigation" aria-expanded="false" aria-controls="header-content">
		<span class="sr-only">Open menu</span>
		<icon-hamburger id="icon-hamburger"></icon-hamburger>
	</button>
</button-toggle>
