@scope (.block-section-graphic-sphere-card) {
	.graphic-sphere {
		grid-area: graphic;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.graphic-sphere-svg {
		height: var(--h, 155%);
		position: absolute;

		@media (width >=80rem) {
			--h: 120%;
		}

		.graphic-sphere-18 & {
			--h: 90%;
		}
	}
}
