@scope (.block-section-graphic-sphere-card) {
	.graphic-sphere {
		grid-area: graphic;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
	}

	.graphic-sphere-svg {
		/* height: var(--h, 155%);
		position: absolute; */
		stroke-linecap: round;
		stroke-linejoin: round;

		.line {
			stroke-dasharray: 56 24;
			animation: flow 3s linear infinite;

			&:nth-child(even) {
				animation-delay: -1.5s;
			}

			&:nth-child(odd) {
				animation-delay: -0.5s;
			}
		}
	}
}
