.block-section-graphic-sphere-card {
	overflow: clip;

	.block-content {
		display: grid;
		gap: var(--g, var(--spacing-24) 0);
		grid-column: var(--layout);
		grid-template-areas: var(--a, 'content' 'graphic');
		grid-template-columns: var(--c, 1fr);
		grid-template-rows: var(--r, '1fr 150px');

		@media (width >=80rem) {
			--a: 'content graphic';
			--c: 1fr 400px;
			--g: 0 var(--spacing-24);
			--r: max-content;
		}
	}

	.card-text-simple {
		background-color: var(--surface-white);
		border-radius: var(--radius-card);
		border: var(--border-card);
		height: min-content;
		padding: var(--spacing-40);
		z-index: 1;
	}
}
