.section-cta {
	.block-content {
		display: grid;
		grid-column: inner;
		grid-template-columns: 1fr;
		justify-content: center;
		row-gap: var(--spacing-80);
		text-align: center;
	}

	.body-lg {
		text-wrap: pretty;
		max-width: 60ch;
	}
}
