.section-intro {
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--spacing-spacing-32);

	.section-intro-title {
		font-size: 40px;
		font-family: var(--typography-family-gantari);
		font-weight: var(--typography-weight-bold);
		color: var(--colour-text-heading-default);
		line-height: var(--line-height-heading-h2);
		letter-spacing: -0.8px;
	}

	.section-intro-text {
		font-size: 16px;
		font-family: var(--fonts-family-font-inter);
		font-weight: var(--fonts-weight-font-weight-regular);
		color: var(--colour-text-body-default);
		line-height: 24px;
		max-width: 120ch;
	}
}