.section-intro {
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--spacing-32);
	grid-template-rows: min-content;

	&.section-intro--center {
		justify-items: center;

		.section-intro-title,
		.section-intro-text {
			text-align: center;
		}

		.section-intro-text {
			max-width: 60ch;
			text-wrap: pretty;
		}
	}
}
