.block-grid-cards-shader {
	.block-cards {
		display: grid;
		gap: 32px;
		grid-template-columns: repeat(auto-fit, minmax(var(--m, 1fr), 1fr));

		@media (width >=40rem) {
			--m: 454px;
		}
	}

	.section-intro-text {
		text-wrap: pretty;
		max-width: 100ch;
	}
}
