.block-intro {
	anchor-name: --intro-anchor;
	border-top: 1px solid var(--colour-border-border-gray);

	.block-content {
		display: grid;
		grid-column: content;
		grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
		gap: var(--spacing-16);

		@media (width >=48rem) {
			gap: var(--spacing-50);
		}

		article:last-child {
			grid-column: 1 / -1;

			@media (width >=1212px) {
				grid-column: span 1;
			}
		}
	}
}
