{% set section_bg_colour = attributes.sectionBgColour|default('white') %}

{% include 'section-intro-home/trust-bar.twig' %}
<section
	class="section-block block-intro"
	data-bg="{{ section_bg_colour }}"
	style="--section-bg-colour: var(--surface-{{ section_bg_colour }});">
	<block-content class="block-content">
		{{ content|raw }}
	</block-content>
</section>
