{% set theme_uri = function('get_template_directory_uri') %}
{% set logos = [
	{
		file: 'af-logo.svg',
		alt: 'AF'
	},
	{
		file: 'tele-dark-logo.svg',
		alt: 'Tele Dark'
	},
	{
		file: 'elastic-logo.svg',
		alt: 'Elastic'
	},
	{
		file: 'crowdstrike-red-logo.svg',
		alt: 'Crowdstrike'
	}
] %}

<trust-bar class="trust-bar-home">
	{% for logo in logos %}
		<div class="logo-item">
			<img
				src="{{ theme_uri }}/assets/svg/logos/bar/{{ logo.file }}"
				alt="{{ logo.alt }}" />
		</div>
	{% endfor %}
</trust-bar>
