.section-tabs {
	@media (width >=60rem) {
		--padding-section-block: 0 var(--spacing-80) !important;
	}

	.block-content {
		display: grid;
		gap: var(--spacing-50);
		grid-column: inner;
		grid-template-columns: 1fr;
	}

	.tabs-nav {
		border-bottom: var(--border-grey);
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(120px, max-content));
		justify-items: center;
	}

	.tab {
		--transition-tab: color 0.2s ease, border-color 0.2s ease;

		background: transparent;
		border-bottom: 3px solid transparent;
		border: none;
		color: var(--colour-text-secondary);
		cursor: pointer;
		font-size: var(--size-body-md);
		font-weight: var(--typography-weight-semi);
		padding: var(--spacing-20) var(--spacing-32);
		text-align: center;
		transition: var(--transition-tab);
		white-space: nowrap;
		width: max-content;

		&:hover {
			color: var(--colour-primary-700);
		}

		&:focus-visible {
			outline-offset: -2px;
		}

		&.is-active {
			color: var(--colour-primary-700);
			border-bottom: 3px solid var(--colour-primary-700);
		}
	}

	.tabs-content {
		position: relative;
	}

	.tab-content {
		display: none;

		&.is-active {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: min-content;
			position: relative;
			gap: var(--spacing-32);
		}
	}
}

@media screen and (width < 40em) {
	.tab {
		padding: var(--spacing-15) var(--spacing-15);
		font-size: var(--typography-size-14);
	}
}
