.section-tabs {
	@media (width >=60rem) {
		--padding-section-block: 0 var(--spacing-80) !important;
	}

	.block-content {
		display: grid;
		gap: var(--spacing-50);
		grid-column: inner;
		grid-template-columns: 1fr;
	}

	.wrapper-tabs {
		display: grid;
		justify-content: center;
		border-bottom: var(--border-grey);
	}

	.tabs-nav {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
		justify-items: center;
		grid-template-columns: repeat(3, 1fr);
	}
}
