{% set heading = attributes.heading|default('') %}
{% set subheading = attributes.subheading|default('') %}
{% set section_bg_colour = attributes.sectionBgColour|default('white') %}

{# Use post slug for view-transition-name #}
{% set view_name = post.post_name|default('blog-page') %}

<section class="block-section-hero-blog"
aria-labeled-by="heading-section-hero-blog">
	<block-content class="block-content hero-blog-content">
		{% if heading %}
			<h1
				id="heading-section-hero-blog"
				class="heading-hero-blog"
				style="view-transition-name: heading-{{ view_name }};">
				{{ heading|strip_html }}
			</h1>
		{% endif %}
		{% if subheading %}
			<p
				class="body-hero body-hero-blog"
				style="view-transition-name: subheading-{{ view_name }};">
				{{ subheading|strip_html }}
			</p>
		{% endif %}
	</block-content>
</section>
