{#
  Card Rich Text - displays a card with title and rich text content.
#}

{% set card_title = attributes.cardTitle|default('') %}
{% set card_content = attributes.cardContent|default('') %}

<article class="card-rich-text">
	{% if card_title %}
		<h3 class="heading-md">{{ card_title|raw }}</h3>
	{% endif %}
	{% if card_content %}
		<div class="body-md">{{ card_content|raw }}</div>
	{% endif %}
</article>
