<span class="icon-geo">
<svg width="34" height="34" viewBox="0 0 34 34" fill="none">
<g id="02">
<g id="Icon">
<g id="Lines">
<path id="Vector" d="M8.24707 10.493V23.993" stroke="#0598CE" stroke-width="0.9" stroke-miterlimit="10"/>
<path id="Vector_2" d="M10.4941 26.239H24.0001" stroke="#0598CE" stroke-width="0.9" stroke-miterlimit="10"/>
<path id="Vector_3" d="M8.24707 8.24707L26.2471 26.2391" stroke="#0598CE" stroke-width="0.9" stroke-miterlimit="10"/>
</g>
<g id="Circles">
<path id="Vector_4" d="M8.247 10.494C9.48798 10.494 10.494 9.48798 10.494 8.247C10.494 7.00602 9.48798 6 8.247 6C7.00602 6 6 7.00602 6 8.247C6 9.48798 7.00602 10.494 8.247 10.494Z" fill="#113768"/>
<path id="Vector_5" d="M8.247 28.4861C9.48798 28.4861 10.494 27.48 10.494 26.2391C10.494 24.9981 9.48798 23.9921 8.247 23.9921C7.00602 23.9921 6 24.9981 6 26.2391C6 27.48 7.00602 28.4861 8.247 28.4861Z" fill="#113768"/>
<path id="Vector_6" d="M26.247 28.4861C27.488 28.4861 28.494 27.48 28.494 26.2391C28.494 24.9981 27.488 23.9921 26.247 23.9921C25.006 23.9921 24 24.9981 24 26.2391C24 27.48 25.006 28.4861 26.247 28.4861Z" fill="#113768"/>
</g>
</g>
</g>
</svg>
</span>
