<span class="icon-geo">
<svg width="34" height="34" viewBox="0 0 34 34" fill="none">
<g id="09">
<g id="Icon">
<g id="Circles">
<path id="Vector" d="M27.247 29.593C28.4874 29.593 29.493 28.5874 29.493 27.347C29.493 26.1065 28.4874 25.101 27.247 25.101C26.0065 25.101 25.001 26.1065 25.001 27.347C25.001 28.5874 26.0065 29.593 27.247 29.593Z" fill="#113768"/>
<path id="Vector_2" d="M7.247 29.594C8.48798 29.594 9.494 28.588 9.494 27.347C9.494 26.106 8.48798 25.1 7.247 25.1C6.00602 25.1 5 26.106 5 27.347C5 28.588 6.00602 29.594 7.247 29.594Z" fill="#113768"/>
<path id="Vector_3" d="M27.247 9.49298C28.4874 9.49298 29.493 8.48741 29.493 7.24698C29.493 6.00655 28.4874 5.00098 27.247 5.00098C26.0065 5.00098 25.001 6.00655 25.001 7.24698C25.001 8.48741 26.0065 9.49298 27.247 9.49298Z" fill="#113768"/>
<path id="Vector_4" d="M7.247 9.494C8.48798 9.494 9.494 8.48798 9.494 7.247C9.494 6.00602 8.48798 5 7.247 5C6.00602 5 5 6.00602 5 7.247C5 8.48798 6.00602 9.494 7.247 9.494Z" fill="#113768"/>
</g>
<g id="Lines">
<path id="Vector_5" d="M7.24695 9.49292V25.1009" stroke="#0598CE" stroke-width="0.9" stroke-miterlimit="10"/>
<path id="Vector_6" d="M27.2469 9.49292V25.1009" stroke="#0598CE" stroke-width="0.9" stroke-miterlimit="10"/>
<path id="Vector_7" d="M9.4939 7.24695H25.0009" stroke="#0598CE" stroke-width="0.9" stroke-miterlimit="10"/>
<path id="Vector_8" d="M9.4939 27.3469H25.0009" stroke="#0598CE" stroke-width="0.9" stroke-miterlimit="10"/>
</g>
</g>
</g>
</svg>
</span>
