<span class="icon-geo" aria-hidden="true">
<svg width="34" height="34" viewBox="0 0 34 34" fill="none">
<g id="16" clip-path="url(#clip0_3733_8911)">
<g id="Icon">
<path id="Vector" d="M27.875 0.25V33.5" stroke="#0598CE" stroke-width="0.9" stroke-miterlimit="10"/>
<path id="Vector_2" d="M5.875 0.25V33.5" stroke="#0598CE" stroke-width="0.9" stroke-miterlimit="10"/>
<path id="Vector_3" d="M0.25 28H33.5" stroke="#0598CE" stroke-width="0.9" stroke-miterlimit="10"/>
<path id="Vector_4" d="M0.25 5.75H33.5" stroke="#0598CE" stroke-width="0.9" stroke-miterlimit="10"/>
<g id="Circles">
<path id="Vector_5" d="M5.87493 30.2471C7.11591 30.2471 8.12193 29.241 8.12193 28.0001C8.12193 26.7591 7.11591 25.7531 5.87493 25.7531C4.63395 25.7531 3.62793 26.7591 3.62793 28.0001C3.62793 29.241 4.63395 30.2471 5.87493 30.2471Z" fill="#113768"/>
<path id="Vector_6" d="M5.87493 7.99705C7.11591 7.99705 8.12193 6.99104 8.12193 5.75005C8.12193 4.50907 7.11591 3.50305 5.87493 3.50305C4.63395 3.50305 3.62793 4.50907 3.62793 5.75005C3.62793 6.99104 4.63395 7.99705 5.87493 7.99705Z" fill="#113768"/>
<path id="Vector_7" d="M27.8749 7.99705C29.1159 7.99705 30.1219 6.99104 30.1219 5.75005C30.1219 4.50907 29.1159 3.50305 27.8749 3.50305C26.6339 3.50305 25.6279 4.50907 25.6279 5.75005C25.6279 6.99104 26.6339 7.99705 27.8749 7.99705Z" fill="#113768"/>
<path id="Vector_8" d="M27.8749 30.2471C29.1159 30.2471 30.1219 29.241 30.1219 28.0001C30.1219 26.7591 29.1159 25.7531 27.8749 25.7531C26.6339 25.7531 25.6279 26.7591 25.6279 28.0001C25.6279 29.241 26.6339 30.2471 27.8749 30.2471Z" fill="#113768"/>
</g>
</g>
</g>
<defs>
<clipPath id="clip0_3733_8911">
<rect width="34" height="34" fill="white"/>
</clipPath>
</defs>
</svg>
</span>
