<span class="icon-geo">
<svg width="34" height="34" viewBox="0 0 34 34" fill="none">
<g id="17">
<g id="Icon">
<g id="Lines">
<path id="Vector" d="M7.94702 25.747L25.947 7.755" stroke="#0598CE" stroke-width="0.9" stroke-miterlimit="10"/>
<path id="Vector_2" d="M7.94702 7.74695L25.947 25.7549" stroke="#0598CE" stroke-width="0.9" stroke-miterlimit="10"/>
<path id="Vector_3" d="M3.44702 16.7549L7.94702 7.74695" stroke="#0598CE" stroke-width="0.9" stroke-miterlimit="10"/>
<path id="Vector_4" d="M3.44702 16.755L7.94702 25.747" stroke="#0598CE" stroke-width="0.9" stroke-miterlimit="10"/>
<path id="Vector_5" d="M7.94702 7.74695L16.947 3.24695" stroke="#0598CE" stroke-width="0.9" stroke-miterlimit="10"/>
<path id="Vector_6" d="M16.947 3.24695L25.947 7.75495" stroke="#0598CE" stroke-width="0.9" stroke-miterlimit="10"/>
<path id="Vector_7" d="M25.947 7.755L30.447 16.755" stroke="#0598CE" stroke-width="0.9" stroke-miterlimit="10"/>
<path id="Vector_8" d="M30.447 16.755L25.947 25.755" stroke="#0598CE" stroke-width="0.9" stroke-miterlimit="10"/>
<path id="Vector_9" d="M16.947 30.2469L7.94702 25.7469" stroke="#0598CE" stroke-width="0.9" stroke-miterlimit="10"/>
<path id="Vector_10" d="M16.947 30.247L25.947 25.755" stroke="#0598CE" stroke-width="0.9" stroke-miterlimit="10"/>
</g>
<g id="Circles">
<path id="Vector_11" d="M7.94695 9.994C9.18793 9.994 10.194 8.98798 10.194 7.747C10.194 6.50602 9.18793 5.5 7.94695 5.5C6.70597 5.5 5.69995 6.50602 5.69995 7.747C5.69995 8.98798 6.70597 9.994 7.94695 9.994Z" fill="#113768"/>
<path id="Vector_12" d="M3.44695 19.0019C4.68793 19.0019 5.69395 17.9959 5.69395 16.7549C5.69395 15.514 4.68793 14.5079 3.44695 14.5079C2.20597 14.5079 1.19995 15.514 1.19995 16.7549C1.19995 17.9959 2.20597 19.0019 3.44695 19.0019Z" fill="#113768"/>
<path id="Vector_13" d="M7.94695 27.994C9.18793 27.994 10.194 26.988 10.194 25.747C10.194 24.506 9.18793 23.5 7.94695 23.5C6.70597 23.5 5.69995 24.506 5.69995 25.747C5.69995 26.988 6.70597 27.994 7.94695 27.994Z" fill="#113768"/>
<path id="Vector_14" d="M16.947 32.494C18.1879 32.494 19.194 31.488 19.194 30.247C19.194 29.006 18.1879 28 16.947 28C15.706 28 14.7 29.006 14.7 30.247C14.7 31.488 15.706 32.494 16.947 32.494Z" fill="#113768"/>
<path id="Vector_15" d="M16.947 5.494C18.1879 5.494 19.194 4.48798 19.194 3.247C19.194 2.00602 18.1879 1 16.947 1C15.706 1 14.7 2.00602 14.7 3.247C14.7 4.48798 15.706 5.494 16.947 5.494Z" fill="#113768"/>
<path id="Vector_16" d="M25.947 10.0019C27.1879 10.0019 28.194 8.99592 28.194 7.75493C28.194 6.51395 27.1879 5.50793 25.947 5.50793C24.706 5.50793 23.7 6.51395 23.7 7.75493C23.7 8.99592 24.706 10.0019 25.947 10.0019Z" fill="#113768"/>
<path id="Vector_17" d="M30.447 19.0019C31.6879 19.0019 32.694 17.9959 32.694 16.7549C32.694 15.514 31.6879 14.5079 30.447 14.5079C29.206 14.5079 28.2 15.514 28.2 16.7549C28.2 17.9959 29.206 19.0019 30.447 19.0019Z" fill="#113768"/>
<path id="Vector_18" d="M25.947 28.0019C27.1879 28.0019 28.194 26.9959 28.194 25.7549C28.194 24.5139 27.1879 23.5079 25.947 23.5079C24.706 23.5079 23.7 24.5139 23.7 25.7549C23.7 26.9959 24.706 28.0019 25.947 28.0019Z" fill="#113768"/>
</g>
</g>
</g>
</svg>
</span>
