<span class="icon-geo">
<svg width="34" height="34" viewBox="0 0 34 34" fill="none">
<g id="18">
<g id="Icon">
<g id="Lines">
<path id="Vector" d="M7.94702 8.24695L3.44702 17.2549" stroke="#0598CE" stroke-width="0.9" stroke-miterlimit="10"/>
<path id="Vector_2" d="M3.44702 17.255L7.94702 26.247" stroke="#0598CE" stroke-width="0.9" stroke-miterlimit="10"/>
<path id="Vector_3" d="M25.947 8.255L30.447 17.255" stroke="#0598CE" stroke-width="0.9" stroke-miterlimit="10"/>
<path id="Vector_4" d="M30.447 17.255L25.947 26.255" stroke="#0598CE" stroke-width="0.9" stroke-miterlimit="10"/>
<path id="Vector_5" d="M10.1941 8.24695H23.7001" stroke="#0598CE" stroke-width="0.9" stroke-miterlimit="10"/>
<path id="Vector_6" d="M5.69409 17.255H28.1941" stroke="#0598CE" stroke-width="0.9" stroke-miterlimit="10"/>
<path id="Vector_7" d="M10.1941 26.2469H23.7411" stroke="#0598CE" stroke-width="0.9" stroke-miterlimit="10"/>
</g>
<g id="Circles">
<path id="Vector_8" d="M7.94695 10.494C9.18793 10.494 10.194 9.48798 10.194 8.247C10.194 7.00602 9.18793 6 7.94695 6C6.70597 6 5.69995 7.00602 5.69995 8.247C5.69995 9.48798 6.70597 10.494 7.94695 10.494Z" fill="#113768"/>
<path id="Vector_9" d="M3.44695 19.5019C4.68793 19.5019 5.69395 18.4959 5.69395 17.2549C5.69395 16.014 4.68793 15.0079 3.44695 15.0079C2.20597 15.0079 1.19995 16.014 1.19995 17.2549C1.19995 18.4959 2.20597 19.5019 3.44695 19.5019Z" fill="#113768"/>
<path id="Vector_10" d="M7.94695 28.494C9.18793 28.494 10.194 27.488 10.194 26.247C10.194 25.006 9.18793 24 7.94695 24C6.70597 24 5.69995 25.006 5.69995 26.247C5.69995 27.488 6.70597 28.494 7.94695 28.494Z" fill="#113768"/>
<path id="Vector_11" d="M25.947 10.5019C27.1879 10.5019 28.194 9.49592 28.194 8.25493C28.194 7.01395 27.1879 6.00793 25.947 6.00793C24.706 6.00793 23.7 7.01395 23.7 8.25493C23.7 9.49592 24.706 10.5019 25.947 10.5019Z" fill="#113768"/>
<path id="Vector_12" d="M30.447 19.5019C31.6879 19.5019 32.694 18.4959 32.694 17.2549C32.694 16.014 31.6879 15.0079 30.447 15.0079C29.206 15.0079 28.2 16.014 28.2 17.2549C28.2 18.4959 29.206 19.5019 30.447 19.5019Z" fill="#113768"/>
<path id="Vector_13" d="M25.947 28.5019C27.1879 28.5019 28.194 27.4959 28.194 26.2549C28.194 25.014 27.1879 24.0079 25.947 24.0079C24.706 24.0079 23.7 25.014 23.7 26.2549C23.7 27.4959 24.706 28.5019 25.947 28.5019Z" fill="#113768"/>
</g>
</g>
</g>
</svg>
</span>
