<span class="icon-geo">
<svg width="34" height="34" viewBox="0 0 34 34" fill="none">
<g id="20">
<g id="Icon">
<path id="Vector" d="M7.85537 10.1385C9.11629 10.1385 10.1385 9.11632 10.1385 7.8554C10.1385 6.59448 9.11629 5.5723 7.85537 5.5723C6.59444 5.5723 5.57227 6.59448 5.57227 7.8554C5.57227 9.11632 6.59444 10.1385 7.85537 10.1385Z" fill="#113768"/>
<path id="Vector_2" d="M3.2831 19.2912C4.54402 19.2912 5.5662 18.269 5.5662 17.0081C5.5662 15.7471 4.54402 14.725 3.2831 14.725C2.02218 14.725 1 15.7471 1 17.0081C1 18.269 2.02218 19.2912 3.2831 19.2912Z" fill="#113768"/>
<path id="Vector_3" d="M7.85537 28.4277C9.11629 28.4277 10.1385 27.4055 10.1385 26.1446C10.1385 24.8837 9.11629 23.8615 7.85537 23.8615C6.59444 23.8615 5.57227 24.8837 5.57227 26.1446C5.57227 27.4055 6.59444 28.4277 7.85537 28.4277Z" fill="#113768"/>
<path id="Vector_4" d="M17 33C18.2609 33 19.2831 31.9778 19.2831 30.7169C19.2831 29.456 18.2609 28.4338 17 28.4338C15.7391 28.4338 14.7169 29.456 14.7169 30.7169C14.7169 31.9778 15.7391 33 17 33Z" fill="#113768"/>
<path id="Vector_5" d="M17 5.5662C18.2609 5.5662 19.2831 4.54402 19.2831 3.2831C19.2831 2.02218 18.2609 1 17 1C15.7391 1 14.7169 2.02218 14.7169 3.2831C14.7169 4.54402 15.7391 5.5662 17 5.5662Z" fill="#113768"/>
<path id="Vector_6" d="M26.1446 10.1466C27.4055 10.1466 28.4277 9.12438 28.4277 7.86346C28.4277 6.60254 27.4055 5.58036 26.1446 5.58036C24.8836 5.58036 23.8615 6.60254 23.8615 7.86346C23.8615 9.12438 24.8836 10.1466 26.1446 10.1466Z" fill="#113768"/>
<path id="Vector_7" d="M30.7169 19.2912C31.9779 19.2912 33 18.269 33 17.0081C33 15.7471 31.9779 14.725 30.7169 14.725C29.456 14.725 28.4338 15.7471 28.4338 17.0081C28.4338 18.269 29.456 19.2912 30.7169 19.2912Z" fill="#113768"/>
<path id="Vector_8" d="M26.1446 28.4358C27.4055 28.4358 28.4277 27.4136 28.4277 26.1527C28.4277 24.8917 27.4055 23.8696 26.1446 23.8696C24.8836 23.8696 23.8615 24.8917 23.8615 26.1527C23.8615 27.4136 24.8836 28.4358 26.1446 28.4358Z" fill="#113768"/>
</g>
</g>
</svg>
</span>
