<span class="icon-geo">
<svg width="34" height="34" viewBox="0 0 34 34" fill="none">
<g id="26">
<g id="Icon">
<g id="Lines">
<path id="Vector" d="M8.56799 25.55L25.473 8.64502" stroke="#0598CE" stroke-width="0.9" stroke-miterlimit="10"/>
</g>
<g id="Circles">
<path id="Vector_2" d="M17.247 19.098C18.488 19.098 19.494 18.092 19.494 16.851C19.494 15.61 18.488 14.604 17.247 14.604C16.006 14.604 15 15.61 15 16.851C15 18.092 16.006 19.098 17.247 19.098Z" fill="#113768"/>
<path id="Vector_3" d="M7.247 29.5931C8.48798 29.5931 9.494 28.5871 9.494 27.3461C9.494 26.1051 8.48798 25.0991 7.247 25.0991C6.00602 25.0991 5 26.1051 5 27.3461C5 28.5871 6.00602 29.5931 7.247 29.5931Z" fill="#113768"/>
<path id="Vector_4" d="M27.247 9.492C28.4874 9.492 29.493 8.48643 29.493 7.246C29.493 6.00557 28.4874 5 27.247 5C26.0065 5 25.001 6.00557 25.001 7.246C25.001 8.48643 26.0065 9.492 27.247 9.492Z" fill="#113768"/>
</g>
</g>
</g>
</svg>
</span>
