<span class="icon-geo" aria-hidden="true">
<svg width="34" height="34" viewBox="0 0 34 34" fill="none">
<g id="01">
<g id="Icon">
<g id="Lines">
<path id="Vector" d="M12.52 3.25806L3.55603 16.7391" stroke="#0598CE" stroke-width="0.9" stroke-miterlimit="10"/>
<path id="Vector_2" d="M3.54602 16.748L12.538 30.239" stroke="#0598CE" stroke-width="0.9" stroke-miterlimit="10"/>
<path id="Vector_3" d="M21.546 30.245L30.546 16.739" stroke="#0598CE" stroke-width="0.9" stroke-miterlimit="10"/>
<path id="Vector_4" d="M30.546 16.332L21.546 3.245" stroke="#0598CE" stroke-width="0.9" stroke-miterlimit="10"/>
<path id="Vector_5" d="M14.7841 3.24609H19.3001" stroke="#0598CE" stroke-width="0.9" stroke-miterlimit="10"/>
<path id="Vector_6" d="M14.7841 30.24H19.3001" stroke="#0598CE" stroke-width="0.9" stroke-miterlimit="10"/>
</g>
<g id="Circles">
<path id="Vector_7" d="M3.54605 18.992C4.78648 18.992 5.79205 17.9864 5.79205 16.746C5.79205 15.5056 4.78648 14.5 3.54605 14.5C2.30562 14.5 1.30005 15.5056 1.30005 16.746C1.30005 17.9864 2.30562 18.992 3.54605 18.992Z" fill="#113768"/>
<path id="Vector_8" d="M30.546 18.986C31.7865 18.986 32.792 17.9805 32.792 16.74C32.792 15.4996 31.7865 14.494 30.546 14.494C29.3056 14.494 28.3 15.4996 28.3 16.74C28.3 17.9805 29.3056 18.986 30.546 18.986Z" fill="#113768"/>
<path id="Vector_9" d="M12.538 5.492C13.7784 5.492 14.784 4.48643 14.784 3.246C14.784 2.00557 13.7784 1 12.538 1C11.2976 1 10.292 2.00557 10.292 3.246C10.292 4.48643 11.2976 5.492 12.538 5.492Z" fill="#113768"/>
<path id="Vector_10" d="M12.538 32.486C13.7784 32.486 14.784 31.4805 14.784 30.24C14.784 28.9996 13.7784 27.994 12.538 27.994C11.2976 27.994 10.292 28.9996 10.292 30.24C10.292 31.4805 11.2976 32.486 12.538 32.486Z" fill="#113768"/>
<path id="Vector_11" d="M21.546 32.492C22.7865 32.492 23.792 31.4864 23.792 30.246C23.792 29.0056 22.7865 28 21.546 28C20.3056 28 19.3 29.0056 19.3 30.246C19.3 31.4864 20.3056 32.492 21.546 32.492Z" fill="#113768"/>
<path id="Vector_12" d="M21.546 5.492C22.7865 5.492 23.792 4.48643 23.792 3.246C23.792 2.00557 22.7865 1 21.546 1C20.3056 1 19.3 2.00557 19.3 3.246C19.3 4.48643 20.3056 5.492 21.546 5.492Z" fill="#113768"/>
</g>
</g>
</g>
</svg>
</span>
