<span class="icon-geo" aria-hidden="true">
<svg width="34" height="34" viewBox="0 0 34 34" fill="none">
<g id="04">
<g id="Icon">
<g id="Lines">
<path id="Vector" d="M12.2379 5.49194V27.9919" stroke="#0598CE" stroke-width="0.9" stroke-miterlimit="10"/>
<path id="Vector_2" d="M21.246 5.49194V27.9919" stroke="#0598CE" stroke-width="0.9" stroke-miterlimit="10"/>
<path id="Vector_3" d="M5.49194 16.746H27.9919" stroke="#0598CE" stroke-width="0.9" stroke-miterlimit="10"/>
</g>
<g id="Circles">
<path id="Vector_4" d="M3.246 18.992C4.48643 18.992 5.492 17.9864 5.492 16.746C5.492 15.5056 4.48643 14.5 3.246 14.5C2.00557 14.5 1 15.5056 1 16.746C1 17.9864 2.00557 18.992 3.246 18.992Z" fill="#113768"/>
<path id="Vector_5" d="M12.246 18.9859C13.4864 18.9859 14.492 17.9803 14.492 16.7399C14.492 15.4995 13.4864 14.4939 12.246 14.4939C11.0056 14.4939 10 15.4995 10 16.7399C10 17.9803 11.0056 18.9859 12.246 18.9859Z" fill="#113768"/>
<path id="Vector_6" d="M21.246 18.992C22.4864 18.992 23.492 17.9864 23.492 16.746C23.492 15.5056 22.4864 14.5 21.246 14.5C20.0056 14.5 19 15.5056 19 16.746C19 17.9864 20.0056 18.992 21.246 18.992Z" fill="#113768"/>
<path id="Vector_7" d="M30.246 18.9859C31.4864 18.9859 32.492 17.9803 32.492 16.7399C32.492 15.4995 31.4864 14.4939 30.246 14.4939C29.0056 14.4939 28 15.4995 28 16.7399C28 17.9803 29.0056 18.9859 30.246 18.9859Z" fill="#113768"/>
<path id="Vector_8" d="M12.2379 5.492C13.4784 5.492 14.4839 4.48643 14.4839 3.246C14.4839 2.00557 13.4784 1 12.2379 1C10.9975 1 9.99194 2.00557 9.99194 3.246C9.99194 4.48643 10.9975 5.492 12.2379 5.492Z" fill="#113768"/>
<path id="Vector_9" d="M12.2379 32.4859C13.4784 32.4859 14.4839 31.4803 14.4839 30.2399C14.4839 28.9995 13.4784 27.9939 12.2379 27.9939C10.9975 27.9939 9.99194 28.9995 9.99194 30.2399C9.99194 31.4803 10.9975 32.4859 12.2379 32.4859Z" fill="#113768"/>
<path id="Vector_10" d="M21.246 32.492C22.4864 32.492 23.492 31.4864 23.492 30.246C23.492 29.0056 22.4864 28 21.246 28C20.0056 28 19 29.0056 19 30.246C19 31.4864 20.0056 32.492 21.246 32.492Z" fill="#113768"/>
<path id="Vector_11" d="M21.246 5.492C22.4864 5.492 23.492 4.48643 23.492 3.246C23.492 2.00557 22.4864 1 21.246 1C20.0056 1 19 2.00557 19 3.246C19 4.48643 20.0056 5.492 21.246 5.492Z" fill="#113768"/>
</g>
</g>
</g>
</svg>
</span>
