<span class="icon-geo" aria-hidden="true">
<svg width="34" height="34" viewBox="0 0 34 34" fill="none">
<g id="28">
<g id="Icon">
<g id="Lines">
<path id="Vector" d="M3.24695 16.7551L7.74695 7.74707" stroke="#0598CE" stroke-width="0.9" stroke-miterlimit="10"/>
<path id="Vector_2" d="M3.24695 16.7549L7.74695 25.7469" stroke="#0598CE" stroke-width="0.9" stroke-miterlimit="10"/>
<path id="Vector_3" d="M7.74695 7.74707L16.7469 3.24707" stroke="#0598CE" stroke-width="0.9" stroke-miterlimit="10"/>
<path id="Vector_4" d="M16.7469 3.24707L25.7469 7.75507" stroke="#0598CE" stroke-width="0.9" stroke-miterlimit="10"/>
<path id="Vector_5" d="M25.7469 7.75488L30.2469 16.7549" stroke="#0598CE" stroke-width="0.9" stroke-miterlimit="10"/>
<path id="Vector_6" d="M30.2469 16.7549L25.7469 25.7549" stroke="#0598CE" stroke-width="0.9" stroke-miterlimit="10"/>
<path id="Vector_7" d="M16.7469 30.2471L7.74695 25.7471" stroke="#0598CE" stroke-width="0.9" stroke-miterlimit="10"/>
<path id="Vector_8" d="M16.7469 30.2469L25.7469 25.7549" stroke="#0598CE" stroke-width="0.9" stroke-miterlimit="10"/>
</g>
<g id="Circles">
<path id="Vector_9" d="M7.747 9.994C8.98798 9.994 9.994 8.98798 9.994 7.747C9.994 6.50602 8.98798 5.5 7.747 5.5C6.50602 5.5 5.5 6.50602 5.5 7.747C5.5 8.98798 6.50602 9.994 7.747 9.994Z" fill="#113768"/>
<path id="Vector_10" d="M3.247 19.0023C4.48798 19.0023 5.494 17.9963 5.494 16.7553C5.494 15.5143 4.48798 14.5083 3.247 14.5083C2.00602 14.5083 1 15.5143 1 16.7553C1 17.9963 2.00602 19.0023 3.247 19.0023Z" fill="#113768"/>
<path id="Vector_11" d="M7.747 27.994C8.98798 27.994 9.994 26.988 9.994 25.747C9.994 24.506 8.98798 23.5 7.747 23.5C6.50602 23.5 5.5 24.506 5.5 25.747C5.5 26.988 6.50602 27.994 7.747 27.994Z" fill="#113768"/>
<path id="Vector_12" d="M16.747 32.494C17.988 32.494 18.994 31.488 18.994 30.247C18.994 29.006 17.988 28 16.747 28C15.506 28 14.5 29.006 14.5 30.247C14.5 31.488 15.506 32.494 16.747 32.494Z" fill="#113768"/>
<path id="Vector_13" d="M16.747 5.494C17.988 5.494 18.994 4.48798 18.994 3.247C18.994 2.00602 17.988 1 16.747 1C15.506 1 14.5 2.00602 14.5 3.247C14.5 4.48798 15.506 5.494 16.747 5.494Z" fill="#113768"/>
<path id="Vector_14" d="M25.747 10.0023C26.988 10.0023 27.994 8.99628 27.994 7.7553C27.994 6.51432 26.988 5.5083 25.747 5.5083C24.506 5.5083 23.5 6.51432 23.5 7.7553C23.5 8.99628 24.506 10.0023 25.747 10.0023Z" fill="#113768"/>
<path id="Vector_15" d="M30.247 19.0023C31.488 19.0023 32.494 17.9963 32.494 16.7553C32.494 15.5143 31.488 14.5083 30.247 14.5083C29.006 14.5083 28 15.5143 28 16.7553C28 17.9963 29.006 19.0023 30.247 19.0023Z" fill="#113768"/>
<path id="Vector_16" d="M25.747 28.0023C26.988 28.0023 27.994 26.9963 27.994 25.7553C27.994 24.5143 26.988 23.5083 25.747 23.5083C24.506 23.5083 23.5 24.5143 23.5 25.7553C23.5 26.9963 24.506 28.0023 25.747 28.0023Z" fill="#113768"/>
</g>
</g>
</g>
</svg>
</span>
