.contact-form {
	width: 100%;
	background-color: var(--colour-neutral-white);

	.wrapper-contact-form {
		width: 100%;
		overflow: hidden;
		border-radius: var(--radius-standard);
		display: flex;
	}

	.iframe-contact-form {
		height: 699px;

		@media (width >=64rem) {
			height: 600px;
		}
	}
}
