.contact-form {
	width: 100%;
}

.contact-form__wrapper {
	width: 100%;
	overflow: hidden;
	border-radius: var(--radius-standard);
	display: flex;
}

.contact-form__iframe {
	height: 699px;

	@media (width >=64rem) {
		height: 600px;
	}
}
