.header {
    /* position: sticky; */
    top: 3rem;
    z-index: 999;
    position: fixed;
    width: 100vw;
    display: grid;
    grid-template-columns: [full-start] minmax(1rem, 1fr) [content-start] minmax(420px, 1200px) [content-start] minmax(1rem, 1fr) [full-end];


    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* margin: 0 80px; */
        background: white;
        padding: 18px 28px;
        border-radius: 4.5rem;
        corner-shape: squircle;
        width: stretch;
        max-width: 1200px;
        grid-column: content;
    }

    .header-logo {
        display: flex;
        align-items: center;
    }

    .logo-image {
        max-width: 135px;
        width: auto;
        display: block;
    }

    h1 {
        font-size: 2rem;
    }

    .header-navigation {
        display: flex;
        gap: 32px;
    }

}

.header-logo h1 a {
    font-size: 32px;
    font-family: var(--typography-family-gantari);
    font-weight: 700;
    color: var(--fonts-colour-text-heading);
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-decoration: none;
}


nav[role="navigation"] {
    position: relative;
    /* min-width: 600px;
    min-height: 100px;
    background: aqua; */
}

.menu-list {
    list-style: none;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.menu-item a {
    color: var(--colour-text-body-default, #626262);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}