{% set image_id = attributes.imageId %}
{% set image_url = attributes.imageUrl %}
{% set image_alt = attributes.imageAlt %}
{% set photographer = attributes.unsplashPhotographer %}
{% set source_url = attributes.unsplashSourceUrl %}
{% set attachment_image =
	function(
		'wp_get_attachment_image',
		image_id,
		'medium_large',
		false,
		{
			class: 'card-image',
			alt: image_alt
		}
	)
%}

<figure class="card-image-unsplash">
	{% if image_id %}
		{{ attachment_image }}
	{% elseif image_url %}
		<img src="{{ image_url }}" alt="{{ image_alt }}" class="card-image" />
	{% else %}
		<div class="placeholder">
			<span>Select an image</span>
		</div>
	{% endif %}
</figure>
