.card-image-unsplash {
	width: 100%;
	overflow: hidden;
	grid-column: 1 / -1;
	display: grid;
	place-items: center;
	height: min-content;

	.card-image {
		display: block;
		object-fit: cover;
		border-radius: var(--radius-card);
		width: min(600px, 100%);
		height: auto;
	}

	.placeholder {
		align-items: center;
		background-color: var(--colour-neutral-200);
		border-radius: var(--radius-card);
		border: 2px dashed var(--colour-border-border-gray);
		color: var(--colour-text-body-muted);
		display: flex;
		font-size: var(--size-body-md);
		justify-content: center;
		min-height: 300px;
	}
}
