{% set image_url = attributes.imageUrl %}
{% set image_alt = attributes.imageAlt %}
{% set photographer = attributes.unsplashPhotographer %}
{% set source_url = attributes.unsplashSourceUrl %}

<figure class="card-image-unsplash">
	{% if image_url %}
		<img src="{{ image_url }}" alt="{{ image_alt }}" class="card-image" />
	{% else %}
		<div class="placeholder">
			<span>Select an image</span>
		</div>
	{% endif %}
</figure>
