.card-image-unsplash {
	display: grid;
	grid-column: 1 / -1;
	overflow: hidden;
	place-items: center;

	.card-image {
		border-radius: var(--radius-card);
		display: block;
		height: auto;
		object-fit: cover;
		width: min(768px, 100%);
	}

	.placeholder {
		align-items: center;
		background-color: var(--colour-neutral-200);
		border-radius: var(--radius-card);
		border: 2px dashed var(--colour-border-border-gray);
		color: var(--colour-text-body-muted);
		display: flex;
		font-size: var(--size-body-md);
		justify-content: center;
		min-height: 300px;
	}
}
