.card-geo-list {
    padding-inline: var(--spacing-spacing-40);
    padding-block: var(--spacing-spacing-50);
    border: 1px solid var(--colour-border-border-gray);
    border-radius: var(--radius-card);
    position: relative;
    background-color: var(--colour-surface-white);
    background-color: var(--colour-surface-white-transparent);
    backdrop-filter: blur(3px);
    gap: var(--spacing-spacing-32);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;

    .icon-geo {
        inset: -1.5rem -1.5rem auto auto;
        position: absolute;
    }

    .heading {
        max-width: 22ch;
    }

    .list-items {
        display: grid;
        gap: var(--spacing-spacing-32);
        grid-template-columns: 1fr;
        grid-template-rows: min-content;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .list-item {
        --size: 48px;

        display: grid;
        grid-template-columns: 1fr;
        gap: var(--spacing-spacing-16);
        position: relative;
        padding-left: 70px;

        &:first-child {
            p {
                max-width: 30ch;
            }
        }

        p {
            color: var(--colour-text-body-default);
            font-size: var(--typography-size-16);
            line-height: 1.5;
            text-wrap: pretty;
        }
    }

    .icon-platform {
        border-radius: var(--radius-circle);
        border: 1px solid var(--colour-secondary-400);
        height: var(--size);
        padding: var(--spacing-spacing-4);
        width: var(--size);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -5px;
    }
}