{% set card_title = attributes.cardTitle|default('') %}
{% set list_item_1 = attributes.listItem1|default('') %}
{% set list_item_2 = attributes.listItem2|default('') %}
{% set icon_geo = attributes.iconGeo|default('24') %}

<article class="card-geo-list icon-{{ icon_geo }}">
	<div class="intro-card-icon" aria-hidden="true">
		{% include 'graphics/geo/' ~ icon_geo ~ '.twig' %}
	</div>
	<div class="intro-card-body">
		<h3 class="intro-card-title">{{ card_title|esc_html }}</h3>
		<ul class="card-geo-list-items">
			<li>{{ list_item_1|esc_html }}</li>
			<li>{{ list_item_2|esc_html }}</li>
		</ul>
	</div>
</article>
