{% set card_title = attributes.cardTitle|default('') %}
{% set list_item_1 = attributes.listItem1|default('') %}
{% set list_item_2 = attributes.listItem2|default('') %}
{% set icon_geo = attributes.iconGeo|default('24') %}

<article class="card-geo-list icon-{{ icon_geo }}">
	{% include 'icons/geo/' ~ icon_geo ~ '.twig' %}
	<h3 class="title">{{ card_title|esc_html }}</h3>
	<ul class="list-items">
		<li class="list-item">
			{% include 'icons/platform/stack.twig' %}
			<p>{{ list_item_1|esc_html }}</p>
		</li>
		<li class="list-item">
			{% include 'icons/platform/increase.twig' %}
			<p>{{ list_item_2|esc_html }}</p>
		</li>
	</ul>
</article>
