.card-geo-list {
	backdrop-filter: blur(3px);
	background-color: var(--colour-surface-white-transparent);
	border-radius: var(--radius-card);
	border: var(--card-geo-list-border, var(--border-site));
	display: grid;
	gap: var(--spacing-32);
	grid-template-columns: 1fr;
	grid-template-rows: min-content;
	padding-block: var(--spacing-50);
	padding-inline: var(--spacing-40);
	position: relative;
	transition: border 0.3s ease;

	&:has(.link-anchor-card-geo:hover) {
		--card-geo-list-border: var(--border-site-highlight-secondary);
		--icon-geo-border-colour: var(--border-site-highlight-secondary);
	}

	.icon-geo {
		--icon-size-outer: 3.25rem;
		--icon-size-inner: 2rem;

		position: absolute;
		inset: 1rem 1rem auto auto;
		transition: all 0.3s ease-in-out;

		@media (width >=40rem) {
			--icon-size-outer: 5.25rem;
			--icon-size-inner: 3.467rem;

			inset: calc(var(--icon-size-outer) / -3.5) calc(var(--icon-size-outer) / -3.5) auto auto;
		}
	}

	.heading {
		max-width: 22ch;
	}

	.list-items {
		display: grid;
		gap: var(--spacing-32);
		grid-template-columns: 1fr;
		grid-template-rows: min-content;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.list-item {
		--size: 48px;

		display: grid;
		gap: var(--spacing-16);
		grid-template-columns: 1fr;
		padding-left: 70px;
		position: relative;

		&:first-child {
			p {
				max-width: 26ch;
			}
		}

		.body-md {
			text-wrap: pretty;
		}
	}

	.icon-platform {
		align-items: center;
		border-radius: var(--radius-circle);
		border: 1px solid var(--colour-secondary-400);
		display: flex;
		height: var(--size);
		justify-content: center;
		padding: var(--spacing-4);
		position: absolute;
		top: -5px;
		width: var(--size);
	}

	.link-anchor-card-geo {
		background-color: var(--colour-surface-white);
		border-radius: var(--radius-pill);
		border: var(--link-card-geo, var(--border-site));
		inset: auto auto 0 50%;
		margin: 0 auto;
		padding: var(--spacing-16) var(--spacing-24);
		position: absolute;
		translate: -50% 50%;
		transition: border 0.3s ease;
		text-decoration-line: none;

		&:hover {
			--link-card-geo: var(--border-site-highlight-primary);
		}
	}
}
