.block-section-card-and-graphic {
	--size-graphic: 630px;

	background-image: var(--grad-rad), var(--grad-lin);
	overflow: clip;

	.block-content {
		align-items: center;
		gap: var(--spacing-80) var(--spacing-60);
		display: grid;
		grid-column: content;
		grid-template-columns: repeat(auto-fit, minmax(var(--c-card, 1fr), 1fr));
		position: relative;

		@media (width >=48rem) {
			--c-card: 400px;
		}
	}

	.card-geo-list {
		--card-geo-list-bg: var(--surface-white);
	}

	.graphic-sphere {
		position: relative;
		min-height: 10rem;
		height: 100%;
	}

	.graphic-sphere-svg {
		position: absolute;
		stroke-linecap: round;
		stroke-linejoin: round;
		height: var(--size-graphic);
		width: var(--size-graphic);
		inset: 290px auto auto 50%;
		translate: -50% -50%;

		@media (width >=70rem) {
			inset: auto auto 50%;
			translate: -5% 50%;
		}

		.line {
			stroke-dasharray: 56 24;
			animation: flow 3s linear infinite;

			&:nth-child(even) {
				animation-delay: -1.5s;
			}

			&:nth-child(odd) {
				animation-delay: -0.5s;
			}
		}
	}

	.line-group {
		opacity: var(--o, 0.4);
		scale: var(--s, 1);
		transform-box: fill-box;
		transform-origin: center;
		transition-delay: var(--t, calc((sibling-count() - sibling-index() + 1) * 0.7s));
		transition-duration: 0.2s;
		transition-property: opacity;
		transition-timing-function: ease-in-out;

		.in-view & {
			--o: 1;
			--s: 1;
			--t: calc(0.1s * sibling-index());
		}
	}
}
