.block-section-card-and-graphic {
	--grad-lin: linear-gradient(-45deg, var(--colour-neutral-white) 0%, #c5ccce 100%);
	--grad-rad: radial-gradient(
		circle at 40% 50%,
		rgba(255, 255, 255, 0.9) 20%,
		rgba(255, 255, 255, 0) 60%
	);
	--gradient-graphic: radial-gradient(
		circle,
		var(--colour-accent-1-400),
		var(--colour-secondary-200)
	);
	--size-graphic: 630px;

	background-image: var(--grad-rad), var(--grad-lin);
	overflow: clip;

	.block-content {
		align-items: center;
		column-gap: var(--spacing-60);
		display: grid;
		grid-column: content;
		grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
		position: relative;
		row-gap: var(--spacing-80);
	}

	.card-geo-list {
		--card-geo-list-bg: var(--surface-white);
	}

	.graphic-sphere {
		position: relative;
		height: var(--stretch);
		min-height: 10rem;

		&::after {
			background-image: var(--gradient-graphic);
			content: '';
			height: var(--size-graphic);
			inset: 170% auto auto 50%;
			mask: var(--mask-image) center / contain no-repeat;
			position: absolute;
			translate: -50% -50%;
			width: var(--size-graphic);

			@media (width >=70rem) {
				inset: auto auto 50% auto;
				translate: -5% 50%;
			}
		}
	}
}
