.section-breadcrumbs {
	display: grid;
	grid-column: full;
	grid-template-columns: subgrid;
	border-block-end: var(--border-grey);
}

@scope (.section-breadcrumbs) {
	.breadcrumbs {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: var(--spacing-8);
		padding-block: var(--spacing-16);
		grid-column: inner;

		& a {
			color: var(--colour-text-body-default);
			text-decoration: none;

			&:hover {
				color: var(--colour-text-body-default);
				text-decoration: underline;
			}
		}
	}

	.separator {
		color: var(--colour-text-body-default);
		opacity: 0.6;
	}

	.current {
		color: var(--colour-text-body-default);
	}
}
