.section-breadcrumbs {
	display: grid;
	grid-column: full;
	grid-template-columns: subgrid;
	border-block-end: var(--border-grey);
}

@scope (.section-breadcrumbs) {
	.breadcrumbs {
		border-block-end: none;
		border-block-start: var(--border-grey);
		border-inline: var(--border-grey);
		border-radius: 4rem 4rem 0 0;
		box-sizing: content-box;
		corner-shape: squircle;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(30px, max-content));
		grid-auto-columns: max-content;
		overflow: clip;
		padding-inline: var(--spacing-16);
		grid-column: full;

		display: flex;

		@media (width >= 40rem) {
			grid-column: content;
		}
	}

	.breadcrumb-anchor {
		--size: 1cap;

		color: var(--colour-text-body-default);
		text-decoration: none;
		position: relative;

		&::after {
			content: '';
			position: absolute;
			right: 0;
			top: calc(50% - 4px);
			width: 1.5px;
			height: 12px;
			background: var(--colour-text-body-default);
			opacity: 0.2;
			border-radius: 1px;
			rotate: 25deg;
			transform-origin: top center;
		}

		&:hover span {
			text-decoration: underline;
		}
	}

	.breadcrumb {
		display: flex;
		align-items: center;
		padding-inline: 0.2rem;
		overflow: clip;
		white-space: nowrap;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		max-width: 12ch;
		padding-block: 1rem;
		gap: var(--spacing-8);

		@media (width >= 40rem) {
			padding-inline: 1rem;
			padding-block: 1rem;
			max-width: none;
		}
	}
}
