@keyframes background-animation {
    from {
        background-color: transparent;
        backdrop-filter: blur(0px);
    }

    to {
        backdrop-filter: blur(3px);
        background-color: rgba(0, 0, 0, 0.8);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.block-hero-home {
    position: relative;
    overflow: hidden;
    background: var(--colour-background-bg-white);
    min-height: 900px;
    display: grid;
    justify-content: center;
    background-image: radial-gradient(59.27% 62.89% at 49.97% 64.49%, #FFF 70.8%, rgba(255, 255, 255, 0.00) 100%), linear-gradient(90deg, #D4DBE0 0%, #E9EDEF 100%);
    position: sticky;
    top: 0;
    grid-column: full;



    &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 0;
        background-color: transparent;
        animation: background-animation linear;
        /* animation-timeline: scroll(nearest); */
        animation-timeline: --main-timeline;
        /* display: none; */
        z-index: 999;
        animation-range-end: 900px;
    }

    .gradient-background {
        position: absolute;
        inset: 0;
        background: linear-gradient(135deg, #d4dbe0 0%, #e9edef 100%);
        z-index: 1;
    }

    .hero-shader {
        position: absolute;
        bottom: 32px;
        left: 50%;
        transform: translateX(-50%);
        width: 2422px;
        height: 1037px;
        z-index: 2;
        /* border: 1px solid red; */
        bottom: -280px;
        animation: 1s fade-in forwards ease-in;
    }

    .ribbon-shader {
        position: absolute;
        left: 50%;
        top: 525px;
        width: 1448px;
        height: 340px;
        transform: translateX(-50%);
        z-index: 2;
    }

    .hero-content {
        max-width: 712px;
        width: 100%;
        z-index: 3;
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-template-rows: repeat(2, fit-content(100%));
        gap: 32px;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        margin-top: 11rem;

        /* animation: background-animation linear; */
        /* animation-timeline: scroll(nearest); */
        /* animation-timeline: --main-timeline; */

    }

    .hero-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-self: center;
        gap: 11px;
    }

    .hero-text h1 {
        /* font-family: var(--typography-family-gantari); */
        font-size: 56px;
        font-weight: var(--typography-weight-bold);
        color: var(--colour-text-text-hero);
        line-height: 60px;
        letter-spacing: -1px;
        margin-bottom: 1rem;
    }

    .heading-hero {
        position: relative;
        right: 9px;


        i {
            color: var(--colour-secondary-500);
        }

        span {
            position: relative;
        }

        .line-two {
            left: -3px;
        }

        .line-three {
            left: 18px;
        }
    }

    .hero-text p.hero-subheading {
        /* font-family: var(--typography-family-inter); */
        font-size: 20px;
        font-weight: var(--fonts-weight-font-weight-regular);
        color: var(--colour-text-text-hero-subheading);
        line-height: 31px;
        letter-spacing: -0.4px;
        max-width: 60ch;

    }

    .hero-buttons {
        display: flex;
        align-items: center;
        gap: 16px;
        flex-direction: column;
    }

    .hero-cta-primary {
        background: var(--colour-accent-1-base);
        border: 2px solid var(--colour-accent-1-300);
        color: var(--colour-accent-1-100);
        padding: 16px 24px;
        border-radius: 30px;
        /* font-family: var(--typography-family-inter); */
        font-size: 16px;
        font-weight: var(--fonts-weight-font-weight-medium);
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 16px;
    }

    .hero-read-more {
        display: flex;
        align-items: center;
        gap: 8px;
        color: var(--colour-primary-500);

        p {
            /* font-family: var(--typography-family-gantari); */
            font-size: 16px;
            font-weight: var(--typography-weight-bold);
        }
    }

    .arrow-icon {
        width: 17px;
        height: 17px;
        background: var(--colour-primary-500);
        border-radius: 50%;
        mask: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M13 17L19 7" stroke="white" stroke-width="2" fill="none"/></svg>') center / 80% no-repeat;
        mask-size: 14px 14px;
    }
}