/* Editor-specific overrides */

.block-hero-blog {
    .hero-blog-content {
        padding: 1rem 1rem !important;
    }

    .hero-blog-text {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}