{% include 'intro-home/logo-strip.twig' %}

{% set section_bg_colour = attributes.sectionBgColour|default('white') %}

<section
	class="section-block block-intro"
	data-bg="{{ section_bg_colour }}"
	style="--section-bg-colour: var(--surface-{{ section_bg_colour }});">
	<block-content class="block-content">
		{{ content|raw }}
	</block-content>
</section>
