<div class="logo-strip">
	<div class="logo-item">
		<img src="{{ function('get_template_directory_uri') }}/assets/svg/logos/bar/af-logo.svg" alt="AF"/>
	</div>
	<div class="logo-item">
		<img src="{{ function('get_template_directory_uri') }}/assets/svg/logos/bar/tele-dark-logo.svg" alt="Tele Dark"/>
	</div>
	<div class="logo-item">
		<img src="{{ function('get_template_directory_uri') }}/assets/svg/logos/bar/elastic-logo.svg" alt="Elastic"/>
	</div>
	<div class="logo-item">
		<img src="{{ function('get_template_directory_uri') }}/assets/svg/logos/bar/crowdstrike-logo.svg" alt="Crowdstrike"/>
	</div>
</div>
