{#
  Table Simple Row - renders as a single table row with 3 cells.
#}

{% set row_label = attributes.rowLabel|default('') %}
{% set col2_value = attributes.column2Value|default('') %}
{% set col3_value = attributes.column3Value|default('') %}

<tr class="table-simple__row">
	<td class="table-simple__cell">{{ row_label|strip_html }}</td>
	<td class="table-simple__cell">{{ col2_value|strip_html }}</td>
	<td class="table-simple__cell">{{ col3_value|strip_html }}</td>
</tr>
