.card-simple {
	display: grid;
	row-gap: var(--spacing-32);
	container-type: inline-size;

	@media (width >=64rem) {
		grid-template-rows: subgrid;
		grid-row: f;
		container-type: unset;
	}
}

@scope (.card-simple) {
	.inner-card {
		display: contents;

		@container (width >= 30rem) {
			display: grid;
			grid-template-columns: min-content 1fr;
			column-gap: var(--spacing-32);
		}

		@media (width >=64rem) {
			display: contents;
		}
	}

	.icon-geo {
		--icon-size-outer: 66px;
		--icon-size-inner: 32px;

		@media (width >=64rem) {
			grid-row: i;
		}
	}

	.content-card {
		display: grid;
		gap: var(--spacing-24);

		@media (width >=64rem) {
			grid-template-rows: subgrid;
			grid-row: c;
		}
	}

	.heading-sm {
		--text-wrap-heading-sm: balance;
	}

	.read-more {
		font-size: var(--typography-size-16);
		font-weight: var(--typography-weight-semi);
		color: var(--colour-brand-light);
		text-decoration: none;
		margin-top: auto;
		margin-top: 1rem;
		height: min-content;
		align-self: end;
		text-underline-offset: 0.1em;
		transition: all 0.3s ease-in-out;
		display: inline-flex;

		&:hover {
			text-decoration-color: var(--colour-accent-1-400);
			text-decoration-thickness: 1.5px;
			text-decoration-line: underline;
			text-underline-offset: 0.3em;
		}
	}
}
