.card-simple {
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--spacing-24);

	.icon-geo {
		--icon-size-outer: 66px;
		--icon-size-inner: 32px;
	}

	.title {
		color: var(--colour-text-heading-default);
		text-box: trim-both cap alphabetic;
		font-size: 24px;
		font-style: normal;
		font-weight: 600;
		line-height: 120%;
		letter-spacing: -0.48px;
	}

	.body {
		color: var(--colour-text-body-default);
		text-box: trim-both cap alphabetic;
		font-size: var(--size-body-md);
		font-style: normal;
		font-weight: 400;
		line-height: 145%;
		letter-spacing: -0.08px;
		text-wrap: pretty;
	}

	.read-more {
		font-size: var(--typography-size-16);
		font-weight: var(--typography-weight-semi);
		color: var(--colour-brand-light);
		text-decoration: none;
		margin-top: auto;
		margin-top: 1rem;
		height: min-content;
		align-self: end;
		text-underline-offset: 0.1em;
		transition: all 0.3s ease-in-out;
		display: inline-flex;

		&:hover {
			text-decoration-color: var(--colour-accent-1-400);
			text-decoration-thickness: 1.5px;
			text-decoration-line: underline;
			text-underline-offset: 0.3em;
		}
	}
}
