.block-section-card-and-graphic {
	background-color: var(--surface-white);
	border-bottom: 1px solid var(--colour-border-border-gray);
	display: grid;
	grid-column: full;
	grid-template-columns: subgrid;
	overflow: clip;
	padding-block: 5rem;
	position: relative;
	background-image:
		radial-gradient(circle at 40% 50%, rgba(255, 255, 255, 0.9) 20%, rgba(255, 255, 255, 0) 60%),
		linear-gradient(-45deg, #ffffff 0%, #c5ccce 100%);


	&.graphic-1 {
		--mask-image: url('../../../assets/svg/spheres/sphere-1.svg');
	}

	&.graphic-2 {
		--mask-image: url('../../../assets/svg/spheres/sphere-2.svg');
	}

	&.graphic-3 {
		--mask-image: url('../../../assets/svg/spheres/sphere-3.svg');
	}

	&.graphic-4 {
		--mask-image: url('../../../assets/svg/spheres/sphere-4.svg');
	}

	&.graphic-5 {
		--mask-image: url('../../../assets/svg/spheres/sphere-5.svg');
	}

	&.graphic-6 {
		--mask-image: url('../../../assets/svg/spheres/sphere-6.svg');
	}

	&.graphic-7 {
		--mask-image: url('../../../assets/svg/spheres/sphere-7.svg');
	}

	&.graphic-8 {
		--mask-image: url('../../../assets/svg/spheres/sphere-8.svg');
	}

	&.graphic-9 {
		--mask-image: url('../../../assets/svg/spheres/sphere-9.svg');
	}

	&.graphic-10 {
		--mask-image: url('../../../assets/svg/spheres/sphere-10.svg');
	}

	&.graphic-11 {
		--mask-image: url('../../../assets/svg/spheres/sphere-11.svg');
	}

	&.graphic-12 {
		--mask-image: url('../../../assets/svg/spheres/sphere-12.svg');
	}

	&.graphic-13 {
		--mask-image: url('../../../assets/svg/spheres/sphere-13.svg');
	}

	&.graphic-14 {
		--mask-image: url('../../../assets/svg/spheres/sphere-14.svg');
	}

	&.graphic-15 {
		--mask-image: url('../../../assets/svg/spheres/sphere-15.svg');
	}

	&.graphic-16 {
		--mask-image: url('../../../assets/svg/spheres/sphere-16.svg');
	}

	&.graphic-17 {
		--mask-image: url('../../../assets/svg/spheres/sphere-17.svg');
	}

	&.graphic-18 {
		--mask-image: url('../../../assets/svg/spheres/sphere-18.svg');
	}

	.block-content {
		align-items: center;
		column-gap: var(--spacing-60);
		display: grid;
		grid-column: content;
		grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
		position: relative;
		row-gap: var(--spacing-80);

		.card-geo-list {
			height: min-content;
			z-index: 999;
			background: white;
		}
	}

	.graphic-tech-sphere-spiral {
		--gradient: radial-gradient(circle, var(--colour-accent-1-400), var(--colour-secondary-400));
		--size: 700px;

		position: relative;

		&::after {
			content: '';
			width: var(--size);
			height: var(--size);
			background-image: var(--gradient);
			mask-image: var(--mask-image);
			mask-size: contain;
			mask-position: center;
			mask-repeat: no-repeat;
			position: absolute;
			bottom: 50%;
			transform: translateY(50%);
		}
	}
}

#ribbon-star path {
	opacity: 0;
	transition: all 0.3s ease-in-out;
	transition-delay: calc(0.04s * sibling-index());

	.in-view & {
		opacity: 1;
	}
}