{% set graphic = attributes.graphic|default('ribbon-star') %}
{% set graphic_position = attributes.graphicPosition|default('left') %}
{% set section_bg_colour = attributes.sectionBgColour|default('white') %}

<section class="section-block block-section-card-and-graphic graphic-{{ graphic }} position-{{ graphic_position }}" data-observe="true" data-threshold="1" data-margin-top="400px" data-margin-bottom="0px" style="--section-bg-colour: var(--surface-{{ section_bg_colour }});">
	<block-content class="block-content">
		{{ content|raw }}
		{% if graphic %}
			{% include 'views/graphics/tech/' ~ graphic ~ '-graphic.twig' %}
			{# {% include 'views/graphics/tech/ribbon-star-graphic-mono.twig' %} #}
		{% endif %}
	</block-content>
</section>
