.block-section-card-and-graphic {
	background-color: var(--surface-white);
	border-bottom: 1px solid var(--colour-border-border-gray);
	display: grid;
	grid-column: full;
	grid-template-columns: subgrid;
	overflow: clip;
	padding-block: 5rem;
	position: relative;
	background-image:
		radial-gradient(circle at 40% 50%, rgba(255, 255, 255, 0.9) 20%, rgba(255, 255, 255, 0) 60%),
		linear-gradient(-45deg, #ffffff 0%, #c5ccce 100%);

	.block-content {
		align-items: center;
		column-gap: var(--spacing-60);
		display: grid;
		grid-column: content;
		grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
		position: relative;
		row-gap: var(--spacing-80);

		.card-geo-list {
			height: min-content;
			z-index: 999;
			background: white;
		}
	}

	.graphic-sphere {
		--gradient: radial-gradient(circle, var(--colour-accent-1-400), var(--colour-secondary-400));
		--size: 700px;

		position: relative;

		&::after {
			content: '';
			width: var(--size);
			height: var(--size);
			background-image: var(--gradient);
			mask-image: var(--mask-image);
			mask-size: contain;
			mask-position: center;
			mask-repeat: no-repeat;
			position: absolute;
			bottom: 50%;
			transform: translateY(50%);
		}
	}
}

#ribbon-star path {
	opacity: 0;
	transition: all 0.3s ease-in-out;
	transition-delay: calc(0.04s * sibling-index());

	.in-view & {
		opacity: 1;
	}
}
