.block-grid-cards-text {
	.block-content {
		display: flex;
		flex-wrap: wrap;
		gap: var(--spacing-32);
		grid-column: content;

		.card-text-simple {
			flex: 1 0 300px;

			.card-text-simple__content {
				max-width: 100ch;
			}
		}
	}
}
