.block-grid-cards-text {
	.block-content {
		display: grid;
		row-gap: var(--spacing-60);
		column-gap: var(--spacing-60);
		grid-column: inner;
		grid-template-columns: repeat(var(--cols, 2), 1fr);

		[data-layout='1'] & {
			--cols: 1;
		}

		[data-layout='2'] & {
			--cols: 1;

			@media (width >=40rem) {
				--cols: 2;
			}
		}

		[data-layout='3'] & {
			--cols: 1;

			@media (width >=40rem) {
				--cols: 3;
			}
		}
	}
}
