.block-section-hero-blog {
	min-height: 10rem;

	.hero-blog-content {
		.hero-blog-text {
			padding: var(--spacing-48) var(--spacing-24);

			.heading-hero-blog {
				margin-bottom: var(--spacing-16);
			}
		}
	}
}
