{% set section_title = attributes.sectionTitle|default('') %}

<section class="section-block block-grid-text">
    <block-content class="block-content">
        {{ content|raw }}
    </block-content>
</section>
