.card-plan {
	border: var(--border-grey);
	border-radius: var(--radius-card);
	padding: var(--spacing-50) var(--spacing-40);
	text-align: center;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: 33%;
	max-width: max-content;
	gap: var(--spacing-16);
	display: flex;
	flex-direction: column;

	&.card-plan-highlighted {
		border-color: var(--colour-accent-1-400);
		border: var(--border-grey);
	}

	.plan-title {
		color: var(--colour-text-heading-default);
		font-size: var(--size-heading-sm);
		font-weight: var(--typography-weight-medium);
	}

	.plan-price {
		display: block;
		font-size: var(--size-heading-md);
		font-weight: var(--typography-weight-medium);
		color: var(--colour-secondary-500);
	}

	.plan-description {
		font-size: var(--font-size-sm);
		color: var(--color-text-muted);
	}
}
