.card-table-features {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: min-content;
	row-gap: var(--spacing-64);
	width: min(1000px, 100%);
	margin: 0 auto;
}

.plan-cards {
	display: flex;
	gap: var(--spacing-24);
	justify-content: center;
	flex-wrap: wrap;
}

/* Table */
.table-wrapper {
	overflow-x: auto;

	.features-table {
		width: 100%;
		border-collapse: collapse;
		table-layout: fixed;
	}

	/* Force horizontal scroll on mobile */
	@media (width < 40rem) {
		-webkit-overflow-scrolling: touch;

		.features-table {
			min-width: 40rem;
		}
	}

	.head-row {
		border-bottom: 1px solid var(--colour-neutral-600);
	}

	.head-cell {
		padding: var(--spacing-16) var(--spacing-16);
		font-size: var(--typography-size-14);
		font-weight: 600;
		color: var(--colour-neutral-800);
		text-align: center;

		&:first-child {
			text-align: left;
		}
	}
}
