{#
  Card Table Features - comparison table with title, subtitle, plan cards, and feature rows.
  Inner blocks (observata/element-table-features-row) render as table rows.
#}

{% set show_plan_cards = attributes.showPlanCards is not defined
	or attributes.showPlanCards == true
%}
{% set featured_plan = attributes.featuredPlan|default(2) %}

<section class="card-table-features">
	{% if show_plan_cards %}
		<plan-cards class="plan-cards">
			{% for i in 1..3 %}
				{% include 'card-table-features/card-plan.twig' with {
					plan_name: attribute(attributes, 'plan' ~ i ~ 'Name'),
					plan_price: attribute(attributes, 'plan' ~ i ~ 'Price'),
					plan_description: attribute(attributes, 'plan' ~ i ~ 'Description'),
					highlighted: i == featured_plan
				} %}
			{% endfor %}
		</plan-cards>
	{% endif %}
	<table-outer class="table-outer">
		<table-inner class="table-inner">
			<table class="features-table">
				<thead>
					<tr class="row row-head">
						<th class="cell cell-head">
							Features
						</th>
						<th class="cell cell-head">
							{{ attributes.plan1Name }}
						</th>
						<th class="cell cell-head">
							{{ attributes.plan2Name }}
						</th>
						<th class="cell cell-head">
							{{ attributes.plan3Name }}
						</th>
					</tr>
				</thead>
				<tbody>
					{{ content }}
				</tbody>
			</table>
		</table-inner>
	</table-outer>
</section>
