{% set card_title = attributes.cardTitle|default('') %}
{% set card_text = attributes.cardText|default('') %}
{% set icon_geo = attributes.iconGeo|default('01') %}
{% set shader_colour = attributes.shaderColour|default('blue') %}

<article class="card-geo-shader">
	{% include 'icons/geo/' ~ icon_geo ~ '.twig' %}
	<canvas class="shader" id="shader-{{ shader_colour }}" width="320" height="320" aria-hidden="true"></canvas>
	{% if card_title %}
		<h3 class="heading-sm title">{{ card_title|wp_kses_post }}</h3>
	{% endif %}
	{% if card_text %}
		<p class="body-sm text">{{ card_text|wp_kses_post }}</p>
	{% endif %}
</article>
