.card-geo-shader {
	border-radius: var(--radius-card);
	border: 1px solid var(--colour-border-border-gray);
	overflow: clip;
	padding-block: var(--spacing-24);
	padding-inline: var(--spacing-24) 5rem;
	position: relative;
	gap: var(--spacing-24);
	display: grid;
	grid-template-rows: min-content;
	grid-template-columns: 1fr;

	@media (width >=40rem) {
		padding-block: var(--spacing-40);
		padding-inline: var(--spacing-40) var(--spacing-80);
	}

	.icon-geo {
		--icon-size-outer: 3.25rem;
		--icon-size-inner: 2.3rem;

		position: absolute;
		inset: 1.5rem 1.5rem auto auto;
		z-index: 1;
	}

	.shader {
		position: absolute;
		inset: 0 0 auto auto;
		max-width: 100%;
		z-index: 0;
	}

	.title {
		max-width: 20ch;
		text-wrap: balance;
	}

	.text {
		line-height: 1.8;
		max-width: 55ch;
		text-wrap: pretty;
	}
}
