@scope (.block-section-graphic-card) {
	.graphic-sphere,
	.graphic-tech-europe {
		grid-area: graphic;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		height: 15vw;

		@media (width >=80rem) {
			height: auto;
		}
	}

	.graphic-sphere-svg {
		position: absolute;
		stroke-linecap: round;
		stroke-linejoin: round;
		min-height: 400px;
		top: -1rem;

		@media (width >=48rem) {
			top: 0;
		}

		@media (width >=80rem) {
			top: auto;
		}

		.line {
			stroke-dasharray: 56 24;
			animation: flow 3s linear infinite;

			&:nth-child(even) {
				animation-delay: -1.5s;
			}

			&:nth-child(odd) {
				animation-delay: -0.5s;
			}
		}
	}

	.graphic-tech-europe {
		--enter: calc(0.05s * sibling-index());
		--exit: calc((sibling-count() - sibling-index() + 1) * 0.05s);

		.ring-group {
			opacity: var(--opacity, 0.4);
			transition-delay: var(--delay, var(--exit));
			transition-duration: 0.3s;
			transition-property: opacity;
			transition-timing-function: ease-in-out;

			.in-view & {
				--delay: var(--enter);
				--opacity: 1;
			}
		}
	}
}
