/* Collection: Alias */
:root {
	/* Hero */
	--colour-text-hero: var(--colour-text-heading-default);
	--colour-text-hero-subheading: var(--colour-text-body-default);

	/* Text */
	--colour-text-heading-default: var(--colour-neutral-800);
	--colour-text-body-default: var(--colour-neutral-600);

	/* Surface */
	--surface-grey: rgb(252 252 252);
	--surface-white: var(--colour-neutral-white);
	--surface-white-transparent: rgba(255, 255, 255, 0.7);

	/* Borders */
	--colour-border-border-gray: #e5e7ea;

	--border-primary: 1px solid var(--colour-primary-400);
	--border-secondary: 1px solid var(--colour-secondary-400);
	--border-accent: 1px solid var(--colour-accent-1-400);
	--border-grey: 1px solid var(--colour-border-border-gray);
	--border-card: 1px solid oklch(from var(--colour-border-border-gray) calc(l - 0.04) c h);

	/* Shadows */
	--shadow-inner-line-white: inset 0 0 0 1px var(--colour-neutral-white);

	/* Lines */
	--icon-line-colour: var(--colour-brand-light);
	--icon-circle-colour: var(--colour-brand-dark);
	--icon-line-stroke: 0.9;

	/* Radius */
	--radius-minimal: 4px;
	--radius-standard: 8px;
	--radius-comfortable: 13px;
	--radius-generous: 16px;
	--radius-large: 20px;
	--radius-card: 24px;
	--radius-pill: 9999px;
	--radius-circle: 50%;

	/* Sizing */
	--sizing-width-site: 1440px;
	--sizing-width-content: 1200px;

	/* Gradients */
	--overlay: linear-gradient(
		to bottom,
		color-mix(in oklab, var(--colour-secondary-300) 80%, transparent) 20%,
		color-mix(in oklab, var(--colour-primary-300) 60%, transparent) 70%
	);

	/* Filters */
	--grayscale: grayscale(1);

	/* Theme html */
	--accent: var(--colour-accent-1-400);
}

:root {
	/* Unified header height */
	--size-height-heading: 5.625rem;

	@media (width >= 48rem) {
		--size-height-heading: 4rem;
	}

	@media (width >= 80rem) {
		--size-height-heading: 7rem;
	}
}
