.card-geo {
	border-radius: var(--radius-card);
	border: 1px solid var(--colour-border-border-gray);
	display: grid;
	gap: var(--spacing-32);
	grid-template-columns: 1fr;
	grid-template-rows: min-content;
	padding: var(--spacing-40);
	position: relative;

	.icon-geo {
		--icon-size-outer: 3.25rem;
		--icon-size-inner: 2rem;

		position: absolute;
		inset: 1rem 1rem auto auto;

		@media (width >=40rem) {
			--icon-size-outer: 5.25rem;
			--icon-size-inner: 3.467rem;

			inset: calc(var(--icon-size-outer) / -3.5) calc(var(--icon-size-outer) / -3.5) auto auto;
		}
	}

	.title {
		max-width: 12ch;
		text-wrap: balance;
	}
}
