{% set card_title = attributes.cardTitle|default('') %}
{% set card_text = attributes.cardText|default('') %}
{% set icon_geo = attributes.iconGeo|default('24') %}

<article class="card-geo icon-{{ icon_geo }}">
	{% include 'icons/geo/' ~ icon_geo ~ '.twig' %}
	<h3 class="heading-md title">{{ card_title|esc_html }}</h3>
	<p class="text">{{ card_text|wp_kses_post }}</p>
</article>
