.wp-block-observata-card-geo-list {
	&.card-geo-list.wp-block {
		&:first-child,
		&:last-child {
			opacity: 1;
			translate: none;
		}

		.intro-card-body,
		.card-geo-list-items {
			display: flex;
			flex-direction: column;
			gap: var(--spacing-16);
		}

		.card-geo-list-items {
			color: var(--colour-text-body-default);
		}
	}
}
