.wp-block-observata-intro {
    position: relative;
    /* overflow: hidden; */
    border-top: 1px solid var(--colour-border-border-gray);
    border-bottom: 1px solid var(--colour-border-border-gray);


    background-color: white;

    .logo-strip {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 55px;
        padding: 2rem 4rem;
        position: absolute;
        inset: -6.2rem auto auto auto;
        background-color: white;
        transform: translateX(50%);
        border-radius: 8rem 8rem 0 0;
        border: 1px solid var(--colour-border-border-gray);
        border-bottom: none;
        corner-shape: squircle;

    }

    .logo-item {
        display: flex;
        align-items: center;
        max-width: 300px;

        img {
            max-width: 100px;
        }
    }

    .cards-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(328px, 1fr));
        gap: 40px;
        padding: 0 0 80px 0;
    }


    .cards-container {
        max-width: 1200px;
        padding: 2rem;
        margin: 0 auto;
    }
}