.block-intro {
    anchor-name: --intro-anchor;
    background-color: var(--colour-surface-white);
    border-bottom: 1px solid var(--colour-border-border-gray);
    border-top: 1px solid var(--colour-border-border-gray);
    position: relative;
    grid-column: full;
    grid-template-columns: subgrid;
    display: grid;
    padding-block: 5rem;


    .block-content {
        display: grid;
        grid-column: content;
        /* grid-template-columns: repeat(auto-fit, minmax(28px, 1fr)); */
        grid-template-columns: 1fr 1fr 1fr;
        gap: var(--spacing-spacing-50);
    }
}

.card-geo {
    padding: var(--spacing-spacing-40);
    border: 1px solid var(--colour-border-border-gray);
    border-radius: var(--radius-radius-card);
    position: relative;

    .icon-geo {
        --size: 5.25rem;

        border-radius: 50%;
        width: var(--size);
        height: var(--size);
        border: 1px solid var(--colour-border-border-gray);
        display: flex;
        justify-content: center;
        align-items: center;
        inset: calc(var(--size) / -3.5) calc(var(--size) / -3.5) auto auto;
        position: absolute;
        background-color: var(--colour-surface-white);

        svg {
            width: 3.467rem;
            height: 3.467rem;
        }
    }


    h3 {
        margin-bottom: var(--spacing-spacing-32);
        text-box: trim-both cap alphabetic;
        max-width: 12ch;
        text-wrap: balance;
    }

    p {
        text-box: trim-both cap alphabetic;
        color: var(--colour-text-body-default);
        font-size: var(--typography-size-16);
        line-height: 1.5;
    }
}

.logo-strip {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 55px;
    padding: 2rem 4rem;
    position: absolute;
    position-anchor: --intro-anchor;
    position-area: center top;
    background-color: white;
    border-radius: 8rem 8rem 0 0;
    border: 1px solid var(--colour-border-border-gray);
    border-bottom: none;
    corner-shape: squircle;

    .logo-item {
        display: flex;
        align-items: center;
        max-width: 300px;

        img {
            max-width: 200px;
            max-height: 30px;
        }
    }

}