/* Card Table Simple Editor Styles */
.wp-block-observata-card-table-simple {
	padding-block-end: 4rem !important;

	.card-table-simple-editor__columns,
	.card-table-simple-row-editor__controls {
		display: flex;
		gap: var(--spacing-24);
	}

	.card-table-simple-editor__rows {
		margin-top: var(--spacing-24);
	}

	.card-table-simple-editor__rows .block-editor-block-list__layout {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-16);
	}

	.card-table-simple-editor__rows
		.block-editor-block-list__layout
		> .wp-block-observata-table-simple-row {
		padding: var(--spacing-16);
		border: 1px solid var(--colour-border-border-gray);
		border-radius: 0.5rem;
		background-color: white;
	}
}
