.block-grid-cards-shader {
	.block-content {
		display: grid;
		grid-column: content;
		grid-template-columns: 1fr;
		gap: var(--spacing-spacing-50);
	}

	.block-cards {
		display: grid;
		gap: 32px;
		grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	}
}
