@keyframes background-animation {
	from {
		background-color: transparent;
		backdrop-filter: blur(0px);
	}

	to {
		backdrop-filter: blur(3px);
		background-color: rgba(0, 0, 0, 0.8);
	}
}

.block-section-hero-page {
	--grad-bg: linear-gradient(90deg, #d4dbe0 0%, #e9edef 100%);
	--grad-glow: radial-gradient(60% 62% at 50% 65%, #fff 70%, rgba(255, 255, 255, 0) 100%);
	--position-glow: center calc(50% + 60px);
	--size-glow: 125vw 100%;
	--size-bg: 100% 100%;

	align-items: center;
	background-color: var(--surface-white);
	background-image: var(--grad-glow), var(--grad-bg);
	background-position: var(--position-glow), center;
	background-repeat: no-repeat;
	background-size: var(--size-glow), var(--size-bg);
	border-block-end: var(--border-grey);
	display: grid;
	grid-column: full;
	grid-template-columns: subgrid;
	grid-template-rows: var(--size-height-heading) 1fr;
	overflow: clip;
	position: relative;

	.cta-hero-page {
		--size: 1rem;

		z-index: 1;
	}

	&::after {
		animation-name: background-animation;
		animation-range-end: 500px;
		animation-timeline: --main-timeline;
		animation-timing-function: linear;
		background-color: transparent;
		content: '';
		height: 100%;
		inset: 0;
		pointer-events: none;
		position: absolute;
		width: 100%;
		z-index: 9;
	}

	.hero-page-content {
		display: grid;
		grid-column: inner;
		grid-row: 2;
		grid-template-columns: 1fr;
		padding-block: var(--spacing-40);
		position: relative;
		row-gap: var(--spacing-32);
		text-align: left;
		view-transition-name: hero-content;
		z-index: 3;

		@media (width >=80rem) {
			row-gap: var(--spacing-40);
			padding-block: var(--spacing-50);
		}
	}

	.heading-hero-page {
		z-index: 1;
		text-wrap: balance;
		max-width: 28ch;
	}

	.body-hero-page {
		z-index: 1;
		max-width: 60ch;
		margin: 0;
		text-wrap: pretty;
	}
}

::view-transition-new(hero-content) {
	animation: entry-from-right 0.3s ease forwards;
}

::view-transition-old(hero-content) {
	animation: exit-to-left 0.3s ease forwards;
}
