@keyframes background-animation {
	from {
		background-color: transparent;
		backdrop-filter: blur(0px);
	}

	to {
		backdrop-filter: blur(3px);
		background-color: rgba(0, 0, 0, 0.8);
	}
}

.block-section-hero-page {
	background: var(--surface-white);
	display: grid;
	align-items: center;
	background-image: linear-gradient(90deg, #d4dbe0 0%, #e9edef 100%);
	grid-column: full;
	grid-template-rows: 6rem 1fr;
	display: grid;
	grid-template-columns: subgrid;
	border-bottom: 1px solid var(--colour-border-border-gray);
	overflow: clip;
	position: relative;

	@media (width >=48rem) {
		grid-template-rows: 4rem 1fr;
	}

	@media (width >=80rem) {
		grid-template-rows: 7rem 1fr;
	}

	.cta-hero-page {
		--size: 1rem;

		z-index: 1;
	}

	&::after {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		inset: 0;
		background-color: transparent;
		animation: background-animation linear;
		animation-timeline: --main-timeline;
		z-index: 9;
		animation-range-end: 500px;
	}

	.hero-page-content {
		display: grid;
		grid-column: inner;
		grid-row: 2;
		grid-template-columns: 1fr;
		padding-block: var(--spacing-40);
		position: relative;
		row-gap: var(--spacing-32);
		text-align: left;
		view-transition-name: hero-content;
		z-index: 3;

		@media (width >=80rem) {
			row-gap: var(--spacing-40);
			padding-block: var(--spacing-50);
		}

		&::before {
			content: '';
			width: 125vw;
			position: absolute;
			height: 100%;
			background-image: radial-gradient(
				59.27% 62.89% at 49.97% 64.49%,
				#fff 70.8%,
				rgba(255, 255, 255, 0) 100%
			);
			left: 50%;
			transform: translateX(-50%);
		}
	}

	.heading-hero-page {
		z-index: 1;
		text-wrap: balance;
		max-width: 28ch;
	}

	.body-hero-page {
		z-index: 1;
		max-width: 60ch;
		margin: 0;
		text-wrap: pretty;
	}
}

::view-transition-new(hero-content) {
	animation: entry-from-right 0.3s ease forwards;
}

::view-transition-old(hero-content) {
	animation: exit-to-left 0.3s ease forwards;
}
