.header-navigation {
	display: grid;
	grid-area: nav;
	transition: grid-template-rows 0.3s ease-in-out;
	grid-template-rows: 0fr;
	overflow: hidden;

	@media (width >= 40rem) {
		overflow: visible;
	}

	.is-open & {
		grid-template-rows: 1fr;
	}

	@media (width >= 40rem) {
		gap: 32px;
		display: flex;
		width: 100%;
	}

	.navigation {
		overflow: hidden;
		width: 100%;

		@media (width >= 40rem) {
			overflow: visible;
		}
	}
}

.sub-nav-wrapper {
	display: grid;
	transition: grid-template-rows 0.3s ease-in-out;
	grid-template-rows: 0fr;

	.submenu {
		overflow: hidden;
	}

	[aria-expanded='true'] + & {
		grid-template-rows: 1fr;
		padding-bottom: var(--spacing-8);
		padding-left: var(--spacing-8);
		margin-bottom: var(--spacing-8);
		border-bottom: 1px solid var(--colour-border-border-gray);

		@media (width >= 40rem) {
			position: absolute;
			top: 35px;
			background: white;
			padding: 2rem;
			display: flex;
			gap: 1rem;
			border-radius: 1rem;
			left: -50%;
			transform: translateX(-14%);
			width: max-content;
			margin: 0;
			border: 1px solid var(--colour-border-border-gray);

			.submenu {
				display: flex;
				flex-direction: column;
				gap: 1rem;
			}
		}
	}
}

.menu-list {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: min-content;
	padding: var(--spacing-16);

	@media (width >= 40rem) {
		grid-auto-columns: max-content;
		grid-auto-flow: column;
		padding: 0;
		width: min-content;
		margin: 0 0 0 auto;
		display: grid;
		gap: 1rem;
	}
}

.submenu {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: min-content;
}

.menu-button {
	align-items: center;
	background-color: transparent;
	border: none;
	color: var(--colour-text-body-default);
	cursor: pointer;
	display: inline-flex;
	font-size: var(--size-body-md);
	gap: var(--spacing-8);
	padding-block: 1rem;
	padding-inline: 0rem;

	@media (width >= 40rem) {
		padding: 0;
	}
}

.menu-anchor {
	text-decoration: none;
	font-size: var(--size-body-md);
	color: var(--colour-text-body-default);
	padding-block: 1rem;
	padding-inline: 0rem;

	@media (width >= 40rem) {
		padding: 0;
	}
}

.menu-item {
	position: relative;
}

.menu-item,
.submenu-item {
	display: flex;
	flex-direction: column;
}
