/* Mobile menu */
@media (width <= 40rem) {
	.header-navigation {
		display: grid;
		grid-area: nav;
		transition: grid-template-rows 0.3s ease-in-out;
		grid-template-rows: 0fr;
		overflow: hidden;

		.is-open & {
			grid-template-rows: 1fr;
		}

		.navigation {
			overflow: hidden;
			width: 100%;
		}
	}

	.sub-menu-wrapper {
		display: grid;
		transition: grid-template-rows 0.3s ease-in-out;
		grid-template-rows: 0fr;

		.submenu {
			overflow: hidden;
		}

		[aria-expanded='true'] + & {
			grid-template-rows: 1fr;
			padding-bottom: var(--spacing-8);
			padding-left: var(--spacing-8);
			margin-bottom: var(--spacing-8);
			border-bottom: 1px solid var(--colour-border-border-gray);
		}
	}

	.menu-list {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: min-content;
		padding: var(--spacing-16);
	}

	.submenu {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: min-content;
	}

	.menu-button {
		align-items: center;
		background-color: transparent;
		border: none;
		color: var(--colour-text-body-default);
		cursor: pointer;
		display: inline-flex;
		font-size: var(--size-body-md);
		gap: var(--spacing-8);
		padding-block: 1rem;
		padding-inline: 0rem;
	}

	.menu-anchor {
		text-decoration: none;
		font-size: var(--size-body-md);
		color: var(--colour-text-body-default);
		padding-block: 1rem;
		padding-inline: 0rem;
	}

	.menu-item {
		position: relative;
	}

	.menu-item,
	.submenu-item {
		display: flex;
		flex-direction: column;
	}
}
