.header-navigation {
	display: grid;
	grid-area: nav;
	transition: grid-template-rows 0.3s ease-in-out;
	grid-template-rows: 0fr;
	overflow: hidden;

	.is-open & {
		grid-template-rows: 1fr;
	}

	@media (width >= 40rem) {
		gap: 32px;
		display: flex;
	}

	.navigation {
		overflow: hidden;
	}
}

.sub-wrapper {
	display: grid;
	transition: grid-template-rows 0.3s ease-in-out;
	grid-template-rows: 0fr;

	.submenu {
		overflow: hidden;
	}

	[aria-expanded='true'] + & {
		grid-template-rows: 1fr;
	}
}
