<a href="{{ item.link }}" class="menu-link" aria-haspopup="true" aria-expanded="false" aria-controls="submenu-{{ loop.index }}">
	<span>{{ item.title|esc_html }}</span>
	{% include 'icons/lucide/chevron-down.twig' %}
</a>
