.card-geo {
	--overflow-card: visible;

	.icon-geo {
		--geo-circle-radius: 3.5px;
		--geo-stroke-width: 1.3px;
		--icon-size-inner: 2rem;
		--icon-size-outer: 3.25rem;

		inset-block: var(--offset, var(--spacing-16)) auto;
		inset-inline: auto var(--offset, var(--spacing-16));
		position: absolute;

		@media (width >=60rem) {
			--icon-size-inner: 54px;
			--icon-size-outer: 5.25rem;
			--offset: -1.5rem;
		}
	}

	.heading-md {
		--max-width-heading-md: 12ch;
	}
}
