{% set card_title = attributes.cardTitle|default('') %}
{% set card_text = attributes.cardText|default('') %}
{% set icon_geo = attributes.iconGeo|default('24') %}

<article class="card card-geo icon-{{ icon_geo }}">
	{% include 'icons/geo/' ~ icon_geo ~ '.twig' %}
	<h2 class="heading-md title">
		{{ card_title|strip_html }}
	</h2>
	<p class="body-md">
		{{ card_text|strip_html }}
	</p>
</article>
