.block-section-partnership {
	overflow: clip;
	view-transition-name: section-partnership;

	.block-body {
		anchor-name: --block-body;
		display: grid;
		gap: var(--spacing-24);
		grid-template-columns: repeat(auto-fit, minmax(200px, 485px));
		grid-template-rows: min-content;
		justify-content: center;

		@media (width >=60rem) {
			gap: var(--spacing-60);
		}
	}

	.phase {
		background-color: var(--surface-white-transparent);
		border-radius: var(--radius-card);
		border: 1px solid var(--colour-primary-100);
		display: grid;
		gap: var(--spacing-24);
		grid-template-columns: 1fr;
		grid-template-rows: min-content;
		padding: var(--spacing-40);

		@media (width >=60rem) {
			background-color: var(--surface-white);
		}
	}

	.phase-title {
		color: var(--colour-primary-500);
		font-size: var(--size-body-sm);
		font-weight: var(--typography-weight-semi);
	}

	.phase-content {
		grid-template-rows: min-content;
		display: grid;
		gap: var(--spacing-24);
		grid-template-columns: repeat(auto-fit, minmax(150px, 188px));

		.phase-two & {
			grid-template-columns: 1fr;
		}
	}

	.phase-item {
		grid-template-rows: min-content;
		display: grid;
		grid-template-columns: 1fr;
		gap: var(--spacing-20);
	}

	.phase-item-title {
		font-size: var(--size-body-lg);
	}

	.cta-partnership {
		grid-column: 1 / -1;
		justify-self: center;
	}
}
