.section-cta {
	--section-bg-colour: var(--colour-neutral-white);

	.content-cta {
		background-color: var(--surface-white-transparent);
		border-radius: var(--radius-card);
		border: var(--border-grey);
		display: grid;
		justify-items: center;
		padding: var(--padding-cta, var(--spacing-24));
		row-gap: var(--spacing-32);

		@media (width >=60rem) {
			justify-self: center;
			--padding-cta: var(--spacing-40);
		}
	}

	.heading-lg {
		--align-heading-lg: center;
		--max-width-heading-lg: 24ch;
		--text-wrap-heading-lg: balance;
	}

	.body-md {
		--align-body-md: center;
		--max-width-body-md: 60ch;
	}
}
