@property --gradient-color-inner {
	syntax: '<color>';
	inherits: false;
	initial-value: #ffffff;
}

@property --gradient-color-mid {
	syntax: '<color>';
	inherits: false;
	initial-value: #dbdbdb;
}

@property --gradient-color-outer {
	syntax: '<color>';
	inherits: false;
	initial-value: #dbdbdb;
}

@property --grad-stop-inner {
	syntax: '<percentage>';
	inherits: false;
	initial-value: 0%;
}

@property --grad-stop-mid {
	syntax: '<percentage>';
	inherits: false;
	initial-value: 50%;
}

@property --grad-stop-outer {
	syntax: '<percentage>';
	inherits: false;
	initial-value: 100%;
}

.section-cta {
	overflow: clip;

	.graphic-swooping-lines {
		--g: radial-gradient(
			circle,
			var(--gradient-color-inner, #dbdbdb) var(--grad-stop-inner, 0%),
			var(--gradient-color-mid, #dbdbdb) var(--grad-stop-mid, 50%),
			var(--gradient-color-outer, #dbdbdb) var(--grad-stop-outer, 100%)
		);
		--t:
			--gradient-color-inner 0.6s ease, --gradient-color-mid 0.6s ease,
			--gradient-color-outer 0.6s ease, --grad-stop-inner 0.6s ease, --grad-stop-mid 0.6s ease,
			--grad-stop-outer 0.6s ease;

		background-image: var(--g);
		content: '';
		height: 520px;
		inset: calc(50% - 1.7rem) 0 0 50%;
		mask-image: url(#mask-swooping-lines-cta);
		pointer-events: none;
		position: absolute;
		transform: translate(-50%, -50%);
		transition: var(--t);
		width: 1440px;
		z-index: 0;

		.in-view & {
			--gradient-color-inner: #ffffff;
			--gradient-color-mid: #7399c6;
			--gradient-color-outer: #9bdbf2;
			--grad-stop-inner: 20%;
			--grad-stop-mid: 30%;
			--grad-stop-outer: 60%;

			@media (width >=60rem) {
				--grad-stop-inner: 30%;
				--grad-stop-mid: 50%;
				--grad-stop-outer: 60%;
			}
		}
	}

	.line {
		opacity: 0.3;
		transition: opacity 0.3s ease-in-out;
		/* Exit  */
		transition-delay: calc((sibling-count() - sibling-index() + 1) * 0.07s);

		.in-view & {
			/* Enter */
			transition-delay: calc(0.05s * sibling-index());
			opacity: 1;
		}
	}
}
