.wp-block-observata-cards-grid {
    position: relative;
    overflow: hidden;
}

.wp-block-observata-cards-grid .intro-heading {
    font-size: 40px;
    font-family: var(--typography-family-gantari);
    font-weight: var(--typography-weight-bold);
    color: var(--fonts-colour-text-heading);
    line-height: var(--line-height-heading-h2);
    letter-spacing: -0.8px;
}

.wp-block-observata-cards-grid .text-wide {
    font-size: 16px;
    font-family: var(--fonts-family-font-inter);
    font-weight: var(--fonts-weight-font-weight-regular);
    color: var(--fonts-colour-text-body);
    line-height: 24px;
}

.wp-block-observata-cards-grid .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(328px, 1fr));
    gap: 40px;
}
