{% set section_title = attributes.sectionTitle|default('') %}

{% set cards = [
	{
		title: 'Unify every data source',
		text: 'Master your data flow with a seamless ingestion strategy. Using OpenTelemetry and custom SDKs, we unify logs and traces across your entire stack to break down silos and deliver actionable insights.',
		icon_number: '01'
	},
	{
		title: 'Zero cost migration',
		text: 'Transition from legacy tools without migration headache. As Elastic specialists, we manage your end-to-end move for free—ensuring a seamless shift to a faster, more flexible observability standard.',
		icon_number: '02'
	},
	{
		title: 'Unlimited optimisation',
		text: 'Transform static charts into actionable dashboards using ML and AI. Our team provides ongoing tuning and predictive analytics, delivering true operational resilience without the risk of vendor lock-in.',
		icon_number: '03'
	},
	{
		title: 'Simplified licencing',
		text: 'Eliminate complex billing with one flat monthly fee. Our all-inclusive model covers ingestion, licensing, and operational support. Ensuring you never face surprise charges or "data taxes" from third-party vendors.',
		icon_number: '04'
	},
	{
		title: 'Support & training',
		text: 'Master your data flow with a seamless ingestion strategy. Using OpenTelemetry and custom SDKs, we unify logs and traces across your entire stack to break down silos and deliver actionable insights.',
		icon_number: '05'
	},
	{
		title: 'Unify every data source',
		text: 'Master your data flow with a seamless ingestion strategy. Using OpenTelemetry and custom SDKs, we unify logs and traces across your entire stack to break down silos and deliver actionable insights.',
		icon_number: '06'
	}
] %}

<section class="block-cards-grid">
	<block-content class="block-content">
		{% if section_title %}
			<h2 class="intro-heading">{{ section_title|wp_kses_post }}</h2>
		{% endif %}

		<div class="cards-container">
			{% for card in cards %}
				{% include 'cards-grid/card-swoosh.twig' %}
			{% endfor %}
		</div>
	</block-content>
</section>
