{% set section_title = attributes.sectionTitle|default('') %}
{% set intro_text = attributes.introText|default('') %}
{% set background_graphic = attributes.backgroundGraphic|default('') %}

<section class="block-grid-cards-graphic">
	<block-content class="block-content">
		{% if background_graphic %}
			<div class="background-graphic">
				{% include 'views/graphics/tech/' ~ background_graphic ~ '.twig' %}
			</div>
		{% endif %}
		<div class="cards-container">
			{{ content|raw }}
		</div>
	</block-content>
</section>
