.table-features-row {
	display: table-row;
	border-bottom: var(--border-grey);

	&:nth-child(odd) {
		background: var(--colour-neutral-100);
	}

	&:last-child {
		border-bottom: none;
	}

	.name {
		--align-table-cell: left;

		padding-inline: var(--spacing-24) var(--spacing-16);
	}

	.value-check {
		color: var(--colour-secondary-600);

		svg {
			margin: 0 auto;
			width: 40px;
			height: 40px;
			display: flex;
			align-self: center;
		}
	}

	.value-dash {
		.dash {
			font-size: var(--typography-size-32);
			color: var(--colour-neutral-500);
		}

		svg {
			width: 40px;
			height: 40px;
		}
	}
}
