.card-micro {
	align-items: flex-start;
	backdrop-filter: blur(3px);
	background-color: var(--colour-surface-white-transparent);
	border-radius: var(--radius-comfortable);
	border: 1px solid var(--colour-brand-light);
	display: flex;
	flex-direction: column;
	gap: var(--spacing-16);
	padding: var(--spacing-16);
}
