{% set background_graphic = attributes.backgroundGraphic|default('') %}

<section class="section-block block-panel-graphic-card-simple-text" data-threshold="1" data-margin-top="400px" data-margin-bottom="0px">
	<block-content class="block-content">
		{{ content|raw }}
		{% if background_graphic %}
			{% include 'views/graphics/tech/' ~ background_graphic ~ '.twig' %}
		{% endif %}
	</block-content>
</section>
