{% set background_graphic = attributes.backgroundGraphic|default('') %}

<section class="block-panel-graphic-card-simple-text">
	<block-content class="block-content">
		{% if background_graphic %}
			<div class="background-graphic">
				{% include 'views/graphics/tech/' ~ background_graphic ~ '.twig' %}
			</div>
		{% endif %}
		{{ content|raw }}

	</block-content>
</section>
