.block-panel-graphic-card-simple-text {
	position: relative;
	overflow: clip;
	background-color: var(--colour-surface-white);
	border-bottom: 1px solid var(--colour-border-border-gray);
	grid-column: full;
	grid-template-columns: subgrid;
	display: grid;
	padding-block: 5rem;

	.block-content {
		padding-inline: var(--spacing-32);
		display: grid;
		grid-column: content;
		grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
		column-gap: var(--spacing-60);
		row-gap: var(--spacing-80);
		position: relative;
		z-index: 1;
	}

	.graphic-tech-europe {
		--height: calc(500px - 4rem);
		--mask: url(#mask-europe);
		--size: 500px;
		--gradient: conic-gradient(
			var(--colour-accent-2-400),
			var(--colour-secondary-500),
			var(--colour-primary-600),
			var(--colour-accent-1-500)
		);
	}

	.graphic-tech-infinity-twist {
		--size: 500px;
		--mask: url(#mask-infinity-twist);
		--gradient: radial-gradient(circle, var(--colour-accent-1-400), var(--colour-secondary-400));
		--opacity: 0.7;
		--width: 540px;

		height: calc(100% - 2rem);
	}

	.card-container {
		display: grid;
		grid-template-columns: 1fr;
	}
}
