.observata-grid-flexible-content-editor {
	.cards-container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
		gap: 1rem;
	}

	.block-editor-block-list__layout {
		display: flex !important;
		flex-wrap: wrap;

		.block-editor-block-list__layout {
			flex-direction: column;
		}
	}

	.wp-block-observata-card-text-intro {
		width: 100% !important;
		flex: 1 1 100% !important;
	}
}
