.block-partnership {
	overflow: clip;

	.graphic-tech {
		grid-column: breakout;
		grid-row: 1;
		position: relative;
		z-index: 0;
		pointer-events: none;

		&:after {
			background-image: radial-gradient(circle, var(--colour-accent-1-300), var(--colour-secondary-200));
			content: '';
			top: 60px;
			mask-image: url(#mask);
			mask-position: center;
			mask-repeat: no-repeat;
			mask-size: contain;
			min-height: 520px;
			position: absolute;
			z-index: 1;
			width: 1440px;
			left: 50%;
			transform: translateX(-50%);
			transition: all 0.3s ease;

			@media (width >=40rem) {
				top: 100px;
			}

			@media (width >=80rem) {
				top: -30px;
			}
		}

		.mask-source {
			position: absolute;
			width: 0;
			height: 0;
			overflow: hidden;
		}
	}

	.block-content {
		display: grid;
		grid-column: content;
		grid-template-columns: 1fr;
		grid-template-rows: min-content;
		gap: var(--spacing-spacing-60);
		grid-row: 1;
		z-index: 1;
	}

	.block-body {
		display: grid;
		gap: var(--spacing-spacing-60);
		grid-template-columns: repeat(auto-fit, minmax(200px, 485px));
		grid-template-rows: min-content;
		justify-content: center;
	}

	.phase {
		background-color: var(--colour-surface-white);
		border-radius: var(--radius-card);
		border: 1px solid var(--colour-border-border-gray);
		display: grid;
		gap: var(--spacing-spacing-24);
		grid-template-columns: 1fr;
		grid-template-rows: min-content;
		padding: var(--spacing-spacing-40);
	}

	.phase-title {
		color: var(--colour-primary-500);
		font-size: var(--size-body-sm);
		font-weight: 500;
		line-height: 24px;
	}

	.phase-content {
		grid-template-rows: min-content;
		display: grid;
		gap: var(--spacing-spacing-24);
		grid-template-columns: repeat(auto-fit, minmax(150px, 188px));

		.phase-two & {
			grid-template-columns: 1fr;
		}
	}

	.phase-item {
		grid-template-rows: min-content;
		display: grid;
		grid-template-columns: 1fr;
		gap: var(--spacing-spacing-20);
	}

	.phase-item-title {
		color: var(--colour-text-heading-default);
		font-size: var(--size-body-lg);
		font-style: normal;
		font-weight: 600;
		line-height: 120%;
	}

	.phase-text {
		color: var(--colour-text-body-default);
		font-size: var(--size-body-sm);
		font-style: normal;
		font-weight: 400;
		line-height: 24px;
	}

	.cta-partnership {
		grid-column: 1 / -1;
		justify-self: center;
	}
}
