@property --partnership-color-inner {
	syntax: '<color>';
	inherits: false;
	initial-value: #dbdbdb;
}

@property --partnership-stop-inner {
	syntax: '<percentage>';
	inherits: false;
	initial-value: 0%;
}

@property --partnership-color-mid {
	syntax: '<color>';
	inherits: false;
	initial-value: #dbdbdb;
}

@property --partnership-stop-mid {
	syntax: '<percentage>';
	inherits: false;
	initial-value: 100%;
}

@property --partnership-color-outer {
	syntax: '<color>';
	inherits: false;
	initial-value: #dbdbdb;
}

@property --partnership-stop-outer {
	syntax: '<percentage>';
	inherits: false;
	initial-value: 50%;
}

.block-partnership {
	.graphic-tech {
		--g: radial-gradient(
			circle,
			var(--partnership-color-inner) var(--partnership-stop-inner, 0%),
			var(--partnership-color-mid) var(--partnership-stop-mid, 50%),
			var(--partnership-color-outer) var(--partnership-stop-outer, 100%)
		);
		--t:
			--partnership-color-inner 0.6s ease, --partnership-color-mid 0.6s ease,
			--partnership-color-outer 0.6s ease, --partnership-stop-inner 0.6s ease,
			--partnership-stop-mid 0.6s ease, --partnership-stop-outer 0.6s ease;

		background-image: var(--g);
		content: '';
		inset: 350px auto auto 50%;
		mask-image: url(#mask-swooping-lines);
		min-height: 520px;
		position: absolute;
		transition: var(--t);
		translate: -50% -50%;
		width: 1440px;

		@media (width >=40rem) {
			top: 370px;
		}

		@media (width >=80rem) {
			top: 256px;
		}

		.in-view & {
			--partnership-color-inner: #90b2dc;
			--partnership-color-mid: #90b2dc;
			--partnership-color-outer: #9bdbf2;
			--partnership-stop-inner: 30%;
			--partnership-stop-mid: 50%;
			--partnership-stop-outer: 70%;
		}
	}

	.line {
		opacity: 0.3;
		transition: opacity 0.3s ease-in-out;
		/* Exit  */
		transition-delay: calc((sibling-count() - sibling-index() + 1) * 0.07s);

		.in-view & {
			/* Enter */
			transition-delay: calc(0.05s * sibling-index());
			opacity: 1;
		}
	}
}
