.block-partnership {
    position: relative;
    overflow: hidden;
    background-color: var(--colour-surface-white);
    border-bottom: 1px solid var(--colour-border-border-gray);
    position: relative;
    grid-column: full;
    grid-template-columns: subgrid;
    display: grid;
    padding-block: 5rem;
    position: relative;


    .block-content {
        display: grid;
        grid-column: content;
        grid-template-columns: 1fr;
        gap: var(--spacing-spacing-50);
        grid-row: 1;
    }

    .graphic-swooping {
        display: grid;
        grid-column: full;
        grid-row: 1;
        grid-template-columns: 1fr [svg-start] 1440px [svg-end] 1fr;

        svg {
            grid-column: svg;
        }
    }
}











.block-partnership .phases-wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.block-partnership .phase {
    display: flex;
    align-items: center;
    padding: 10px;
}

.block-partnership .phase-box {
    background: rgba(255, 255, 255, 0.8);
    border-radius: var(--radius-radius-card);
    padding: 16px;
}

.block-partnership .phase-number {
    font-family: var(--typography-family-font-inter);
    font-size: 14px;
    font-weight: var(--fonts-weight-font-weight-medium);
    color: var(--colour-primary-500);
    background: var(--colour-surface-white, white);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block-partnership .phase-title {
    font-family: var(--typography-family-font-gantari);
    font-size: 16px;
    font-weight: var(--typography-weight-bold);
    color: var(--fonts-colour-text-heading);
    margin-bottom: 4px;
}

.block-partnership .phase-content {
    font-family: var(--typography-family-font-inter);
    font-size: 14px;
    font-weight: var(--fonts-weight-font-weight-regular);
    color: var(--fonts-colour-text-body);
    line-height: 1.5;
}