{% set section_title = attributes.sectionTitle|default('') %}
{% set intro_text = attributes.introText|default('') %}
{% set text_align = attributes.textAlign|default('left') %}
{% set align_class = text_align and text_align != 'left'
	? ' card-text-intro--' ~ text_align
	: ''
%}

<article class="card-text-intro{{ align_class }}">
	{% if section_title %}
		<h2 class="heading-lg card-text-intro-title">
			{{ section_title|strip_html }}
		</h2>
	{% endif %}

	{% if intro_text %}
		<p class="body-md card-text-intro-text">
			{{ intro_text|strip_html }}
		</p>
	{% endif %}
</article>
