{% set logo_text = attributes.logo|default('Observata') %}

<header id="header" class="header">
	<div class="header-content">
		{% include 'template/header/header-logo.twig' %}
		{% include 'template/header/header-navigation.twig' %}
		{% include 'template/header/header-navigation-trigger.twig' %}
	</div>
</header>
