.header-logo {
	display: flex;
	align-items: center;
}

.header-logo h1 a {
	font-size: 32px;
	font-family: var(--typography-family-gantari);
	font-weight: 700;
	color: var(--fonts-colour-text-heading);
	line-height: 1.2;
	letter-spacing: -0.03em;
	text-decoration: none;
}

.logo-image {
	max-width: 135px;
	width: auto;
	display: block;
}
