@keyframes header-scroll {
	to {
		backdrop-filter: blur(2px);
		background-color: rgba(255, 255, 255, 0.95);
		border-bottom: 1px solid var(--colour-border-border-gray);
		border-left: 1px solid transparent;
		border-radius: 0;
		border-right: 1px solid transparent;
		border-top: 1px solid transparent;
		margin: 0;
		max-width: 100%;
	}
}

.header {
	inset: 0 auto auto auto;
	z-index: 999;
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: center;

	.header-content {
		align-items: center;
		animation-fill-mode: forwards;
		animation-name: header-scroll;
		animation-range-end: 100px;
		animation-timeline: scroll(nearest);
		animation-timing-function: linear;
		background: var(--colour-surface-white);
		border-radius: 0 0 4.5rem 4.5rem;
		border: 1px solid var(--colour-border-border-gray);
		column-gap: var(--spacing-16);
		corner-shape: squircle;
		display: grid;
		flex-basis: 100%;
		grid-template-areas: 'logo trigger' 'nav nav';
		grid-template-columns: 1fr var(--spacing-32);
		grid-template-rows: min-content 1fr;
		justify-content: space-between;
		max-width: var(--sizing-width-content);
		padding-block: var(--spacing-24);
		padding-inline: var(--spacing-32);
		row-gap: 0;

		&.is-open {
			row-gap: var(--spacing-16);
			column-gap: var(--spacing-16);
		}

		@media (width >= 40rem) {
			grid-template-areas: 'logo nav';
			grid-template-rows: min-content;
			grid-template-columns: 200px 1fr;
			padding: 18px 28px;
		}

		@media (width >= 80rem) {
			margin-block: 3rem 0;
			margin-inline: 1rem;
			border-radius: 4.5rem;
		}
	}
}
