.block-contact {
	.block-content {
		display: grid;
		grid-template-columns: 1fr;
		gap: var(--spacing-40);
		grid-column: content;
		/* grid-template-areas: 'intro details form'; */
		grid-template-columns: 1fr;

		@media (width >=64rem) {
			grid-template-columns: 1fr 660px;
			grid-template-areas: 'intro intro' 'details form';
		}
	}

	.section-intro {
		grid-column: 1 / -1;
		text-align: center;
		justify-items: center;

		@media (width >=64rem) {
			grid-area: intro;
		}

		.section-intro-text {
			max-width: 70ch;
		}
	}

	.contact-form {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-24);
		border: 1px solid var(--colour-border-border-gray);
		padding: var(--spacing-32);
		border-radius: var(--radius-card);

		@media (width >=64rem) {
			grid-area: form;
		}

		iframe {
			overflow: hidden;
		}

		iframe {
			width: 100%;
			border: none;

			/* Firefox */
			scrollbar-width: none;

			/* IE and Edge */
			-ms-overflow-style: none;
		}

		/* Chrome, Safari, and Opera */
		iframe::-webkit-scrollbar {
			display: none;
		}
	}
}

@media (min-width: 768px) {
	.block-content .block-content {
		grid-template-columns: 1fr 2fr;
	}

	.block-content .block-content > .section-intro {
		grid-column: 1 / -1;
	}
}
