.block-observability {
	.block-content {
		display: grid;
		grid-column: content;
		grid-template-columns: 1fr;
		gap: var(--spacing-50);
	}

	.card-large-content {
		display: grid;
		grid-template-columns: 1fr;
		row-gap: var(--spacing-24);
		max-width: 600px;

		.title {
			color: var(--colour-text-heading-default, #2e2e2e);
			font-size: 24px;
			font-style: normal;
			font-weight: 600;
			line-height: 120%;
			text-wrap: balance;
		}

		.body {
			color: var(--colour-text-body-default);
			font-size: var(--size-body-md);
			font-weight: 400;
			line-height: 24px;
		}
	}

	.layout-micro {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 288px));
		gap: var(--spacing-24);
	}

	.card-large {
		background-color: var(--colour-surface-white);
		border-radius: var(--radius-large);
		border: 1px solid var(--colour-accent-1-200);
		flex-direction: column;
		gap: var(--spacing-64);
		padding: var(--spacing-80);
		background-repeat: no-repeat;
		background-position: top -200px right -200px;
		background-size: 500px;
		display: grid;
		grid-template-columns: 1fr;
		overflow: clip;
		position: relative;
	}

	.graphic-tech {
		/* grid-column: breakout; */
		/* grid-row: 1; */
		position: absolute;
		z-index: 0;
		pointer-events: none;
		inset: 0;
		color: black;
		color: white;
		width: 400px;
		height: 400px;
		right: -5rem;
		top: -5rem;
		left: auto;

		&:after {
			background-image: radial-gradient(circle, var(--colour-accent-1-400), var(--colour-secondary-400));
			content: '';
			mask-image: url(#mask2);
			min-height: 520px;
			position: absolute;
			z-index: 1;
			width: 100%;
			transition: all 0.3s ease;
		}

		.mask-source {
			position: absolute;
			width: 0;
			height: 0;
			overflow: hidden;
		}
	}

	.graphic-dots {
		--size: 460px;

		position: relative;
		height: var(--size);
		width: var(--size);
		position: absolute;
		inset: -7rem -7rem auto auto;
		overflow: clip;

		svg {
			height: var(--size);
			width: var(--size);
			position: absolute;
		}

		.gradient {
			background: radial-gradient(circle, var(--colour-accent-1-300), var(--colour-secondary-500));
			height: var(--size);
			width: var(--size);
			position: absolute;
			inset: 0;
			mix-blend-mode: color;
		}
	}
}
