{% set section_title = attributes.sectionTitle|default('') %}
{% set intro_text = attributes.introText|default('') %}
{% set section_bg_colour = attributes.sectionBgColour|default('white') %}
{% set card_title = attributes.cardTitle|default('') %}
{% set card_body = attributes.cardBody|default('') %}

<section
	class="section-block block-observability"
	style="--section-bg-colour: var(--surface-{{ section_bg_colour }});">
	<block-content class="block-content">
		{% include 'template/section-intro/section-intro.twig' with {
			attributes: {
				sectionTitle: section_title,
				introText: intro_text
			}
		} %}

		<article class="card-large">
			{# {% include 'graphics/tech/connected-dots-graphic-mono.twig' %} #}
			{# {% include 'graphics/spheres/sphere-14-mask.twig' %} #}
			<layout-micro class="layout-micro">
				{{ content|raw }}
			</layout-micro>
			<card-large-content class="card-large-content">
				{% if card_title %}
					<h4 class="title">
						{{ card_title|strip_html }}
					</h4>
				{% endif %}
				{% if card_body %}
					<p class="body">
						{{ card_body|strip_html }}
					</p>
				{% endif %}
			</card-large-content>
		</article>
	</block-content>
</section>
