{% set section_title = attributes.sectionTitle|default('') %}
{% set intro_text = attributes.introText|default('') %}

<section class="section-block block-observability">
	<block-content class="block-content">
		{% include 'template/section-intro/section-intro.twig' with { 'attributes': { 'sectionTitle': section_title, 'introText': intro_text } } %}

		<article class="card-large">
			<graphic-dots class="graphic-dots">
				{% include 'graphics/tech/connected-dots-graphic.twig' %}
				<div class="gradient"></div>
			</graphic-dots>

			<layout-micro class="layout-micro">
				{{ content|raw }}
			</layout-micro>
			<card-large-content class="card-large-content">
				<h4 class="title">Tools aren’t the answer — ownership is</h4>
				<p class="body">When observability is split across teams, costs skyrocket and visibility suffers. Consolidating your tech stack isn’t enough; you need to solve the root cause. We provide the structural ownership required to turn disjointed data into a high-performing, unified operation.</p>
			</card-large-content>
		</article>
	</block-content>
</section>
