{% set section_title = attributes.sectionTitle|default('') %}
{% set intro_text = attributes.introText|default('') %}

<section class="block-observability">
	<block-content class="block-content">
		{% include 'section-intro/section-intro.twig' with { 'attributes': { 'sectionTitle': section_title, 'introText': intro_text } } %}

		<article class="card-large">
			<div class="cards-micro">
				{{ content|raw }}
			</div>
		</article>
	</block-content>
</section>
