.block-observability {
    background-color: var(--colour-surface-white);
    border-bottom: 1px solid var(--colour-border-border-gray);
    border-top: 1px solid var(--colour-border-border-gray);
    position: relative;
    grid-column: full;
    grid-template-columns: subgrid;
    display: grid;
    padding-block: 5rem;

    .block-content {
        display: grid;
        grid-column: content;
        grid-template-columns: 1fr;
        gap: var(--spacing-spacing-50);
    }

    .card-large {
        background-color: var(--colour-surface-white);
        background-image: url('../../assets/img/connected-dots.png');
        border-radius: var(--radius-radius-large);
        border: 1px solid var(--colour-accent-1-200);
        flex-direction: column;
        gap: var(--spacing-spacing-32);
        padding: var(--spacing-spacing-80);
        background-repeat: no-repeat;
        background-position: top -200px right -200px;
        background-size: 500px;
    }

    .cards-micro {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: var(--spacing-spacing-24);
    }

    .card-micro {
        display: flex;
        padding: var(--spacing-spacing-16);
        flex-direction: column;
        align-items: flex-start;
        gap: var(--spacing-spacing-16);
        border-radius: var(--radius-radius-comfortable, 0.8125rem);
        border: 1px solid var(--colour-brand-light);
        background-color: var(--colour-surface-white);
        backdrop-filter: blur(5px);
    }

    .card-micro-heading {
        color: var(--colour-text-heading-default);
        font-size: 1rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.5;
    }

    .card-micro-body {}
}