.footer {
    background-color: var(--colour-primary-900);
    display: grid;
    grid-column: full;
    grid-template-columns: subgrid;
    grid-template-rows: 1fr min-content;
    padding-block: 5rem;
    position: relative;

    .block-content {
        display: grid;
        grid-column: content;
        grid-template-columns: 1fr;
        gap: var(--spacing-spacing-50);
        color: white;
    }
}