<footer-bottom class="footer-bottom">
	<div class="footer-locations">
		<p>
			{{
				locations
					|esc_html
					|replace({
						'|': '<span>|</span>'
					})
					|raw
			}}
		</p>
	</div>
	<div class="footer-copyright">
		<p>
			{{ copyright|strip_html }}
		</p>
	</div>
</footer-bottom>
