@scope (.footer) {
	.footer-menus {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
		row-gap: var(--spacing-32);
		padding-block-start: var(--spacing-40);
	}

	.footer-menu-column {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: min-content;
		gap: var(--spacing-24);

		h4 {
			color: white;
			font-size: var(--size-body-md);
			font-weight: 600;
			margin: 0;
		}
	}

	.footer-menu-list {
		gap: var(--spacing-16);
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
	}

	.footer-menu-item {
		margin: 0;
		padding: 0;
	}

	.footer-menu-link {
		color: var(--colour-primary-100);
		text-decoration: none;
		font-size: var(--size-body-sm);
		transition: opacity 0.2s ease;

		&:hover {
			opacity: 0.8;
			text-decoration: underline;
		}
	}
}
