{% if menu %}
	<div class="footer-menu-column">
		<h4 class="heading-xs">
			{{ menu.name|default('Footer')|strip_html }}
		</h4>
		<ul class="footer-menu-list">
			{% for item in menu.items %}
				<li class="body-sm footer-menu-item">
					<a class="anchor" href="{{ item.url|esc_url }}">
						{{ item.title|strip_html }}
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endif %}
