/* Editor-specific overrides for the Intro block */
.wp-block-observata-intro-home {
	&.block-intro {
		position: relative;
		display: flex;
		flex-direction: column;

		.block-editor-block-list__layout {
			display: flex !important;
			justify-content: space-between;
		}

		.block-content {
			display: flex !important;
		}

		.card-geo h3 {
			max-width: max-content;
		}
	}

	.logo-strip {
		position: relative;
		position-anchor: auto;
		position-area: auto;
		margin-bottom: 2rem;
	}
}
