.card-geo-shader {
	border-radius: var(--radius-card);
	border: 1px solid var(--colour-border-border-gray);
	overflow: clip;
	padding-block: var(--spacing-24);
	padding-inline: var(--spacing-24) 5rem;
	position: relative;
	gap: var(--spacing-24);
	display: grid;
	grid-template-rows: min-content;
	grid-template-columns: 1fr;
	min-height: max-content;

	/* TODO: Find alternate solution */
	&:nth-child(1) {
		order: 1;

		@media (width >=1363px) {
			order: unset;
		}
	}

	&:nth-child(2) {
		order: 2;

		@media (width >=1363px) {
			order: unset;
		}
	}

	&:nth-child(3) {
		order: 4;

		@media (width >=1363px) {
			order: unset;
		}
	}

	&:nth-child(4) {
		order: 3;

		@media (width >=1363px) {
			order: unset;
		}
	}

	&:nth-child(5) {
		order: 5;

		@media (width >=1363px) {
			order: unset;
		}
	}

	&:nth-child(6) {
		order: 6;

		@media (width >=1363px) {
			order: unset;
		}
	}

	@media (width >=40rem) {
		padding-block: var(--spacing-40);
		padding-inline: var(--spacing-40) 100px;
	}

	.icon-geo {
		--icon-size-outer: 3.25rem;
		--icon-size-inner: 2.3rem;

		position: absolute;
		inset: 1.5rem 1.5rem auto auto;
		z-index: 1;
	}

	.shader {
		position: absolute;
		inset: 0 0 auto auto;
		z-index: 0;
		display: none;

		@media (width >=40rem) {
			display: block;
		}
	}

	.title {
		max-width: 22ch;
		text-wrap: balance;
	}

	.text {
		max-width: 100ch;
	}
}
