.card-geo-shader {
	--padding-block-card: var(--spacing-24);
	--padding-inline-card: var(--spacing-24) 5rem;
	--gap-card: var(--spacing-24);

	min-height: max-content;

	&::after {
		border-radius: inherit;
		box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
		content: '';
		inset: 0;
		pointer-events: none;
		position: absolute;
		z-index: 2;
	}

	@media (width >=40rem) {
		--padding-block-card: var(--spacing-40);
		--padding-inline-card: var(--spacing-40) 100px;
	}

	/* TODO: Find alternate solution */
	&:nth-child(1) {
		order: 1;

		@media (width >=1363px) {
			order: unset;
		}
	}

	&:nth-child(2) {
		order: 2;

		@media (width >=1363px) {
			order: unset;
		}
	}

	&:nth-child(3) {
		order: 4;

		@media (width >=1363px) {
			order: unset;
		}
	}

	&:nth-child(4) {
		order: 3;

		@media (width >=1363px) {
			order: unset;
		}
	}

	&:nth-child(5) {
		order: 5;

		@media (width >=1363px) {
			order: unset;
		}
	}

	&:nth-child(6) {
		order: 6;

		@media (width >=1363px) {
			order: unset;
		}
	}

	.icon-geo {
		--icon-size-outer: 3.25rem;
		--icon-size-inner: 2.3rem;

		inset: 1.5rem 1.5rem auto auto;
		position: absolute;
		z-index: 1;
	}

	.shader {
		display: var(--display-shader, none);
		inset: 0 0 auto auto;
		position: absolute;
		z-index: 0;

		&.loaded {
			--display-shader: block;
		}
	}

	.img-fallback {
		display: var(--display-img-fallback, block);
		inset: 0 0 auto auto;
		max-height: 220px;
		position: absolute;
		width: auto;

		:has(.shader.loaded) & {
			--display-img-fallback: none;
		}
	}

	.heading-sm {
		--align-heading-sm: 22ch;
	}

	.body-sm {
		--max-width-body-sm: 100ch;
	}
}
