.logo-bar {
	display: grid;
	padding: var(--spacing-16);
	background: var(--colour-surface-surface);
	grid-column: full;
	grid-template-columns: subgrid;
	border-bottom: 1px solid var(--colour-border-border-gray);

	@media (width >=40rem) {
		padding: var(--spacing-32) var(--spacing-64);
	}

	.block-content {
		display: grid;
		grid-column: content;
		grid-auto-columns: min-content;
		gap: var(--spacing-50);
		grid-auto-flow: column;
		justify-content: center;
		justify-items: stretch;
	}

	.logo-item {
		display: flex;
		align-items: center;
		max-width: 300px;

		img {
			max-width: 200px;
			max-height: 30px;
		}
	}
}
