.cta-primary {
	--size: 1rem;

	align-items: center;
	background-color: var(--colour-accent-1-base);
	border-radius: var(--radius-pill);
	border: 2px solid var(--colour-accent-1-400);
	color: var(--colour-neutral-white);
	display: inline flex;
	font-size: var(--size-body-md);
	font-weight: var(--typography-weight-medium);
	gap: var(--spacing-16);
	padding: var(--spacing-16) var(--spacing-24);
	text-decoration: none;
	transition: all 0.3s ease;
	width: max-content;

	&:hover {
		background-color: var(--colour-accent-1-500);
		color: var(--colour-neutral-white);
	}
}

.cta-secondary {
	--size: 1rem;

	align-items: center;
	background-color: var(--colour-accent-1-base);
	border-radius: var(--radius-pill);
	border: 2px solid var(--colour-accent-1-400);
	color: var(--colour-neutral-white);
	display: inline flex;
	font-size: var(--size-body-md);
	font-weight: var(--typography-weight-medium);
	gap: var(--spacing-16);
	padding: var(--spacing-16) var(--spacing-24);
	text-decoration: none;
	transition: all 0.3s ease;
	width: max-content;

	&:hover {
		background-color: var(--colour-accent-1-500);
		color: var(--colour-neutral-white);
	}
}

.link-anchor {
	--size: 1rem;

	align-items: center;
	color: var(--link-anchor-colour, var(--colour-primary-500));
	cursor: pointer;
	display: flex;
	font-size: var(--size-body-md);
	gap: var(--spacing-8);
	text-decoration-color: var(--colour-primary-400);
	text-decoration-thickness: 1px;
	text-underline-offset: 0.3em;
	transition: color 0.3s ease;
	width: max-content;
	text-decoration-line: underline;

	&:hover {
		--link-anchor-colour: var(--colour-secondary-500);
	}
}
