    .cta-primary {
        align-items: center;
        background-color: var(--colour-accent-1-base);
        border-radius: var(--radius-pill);
        border: 1px solid var(--colour-accent-1-400);
        color: var(--colour-accent-1-100);
        display: inline-flex;
        font-size: var(--size-body-md);
        font-weight: var(--typography-weight-medium);
        gap: var(--spacing-spacing-16);
        padding: var(--spacing-spacing-16) var(--spacing-spacing-24);
        text-decoration: none;
        transition: all .3s ease;

        &:hover {
            background-color: var(--colour-accent-1-600);
            color: white;
        }
    }