    icon-geo {
        --size-outer: var(--icon-size-outer, 5.25rem);
        --size-inner: var(--icon-size-inner, 3.467rem);

        border-radius: 50%;
        width: var(--size-outer);
        height: var(--size-outer);
        border: 1px solid var(--colour-border-border-gray);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--colour-surface-white);

        svg {
            width: var(--size-inner);
            height: var(--size-inner);
        }
    }