@keyframes entry-from-left {
	from {
		opacity: 0;
		translate: -100px 0;
	}

	to {
		opacity: 1;
		translate: 0 0;
	}
}

@keyframes entry-from-right {
	from {
		opacity: 0;
		translate: 100px 0;
	}

	to {
		opacity: 1;
		translate: 0 0;
	}
}

@keyframes exit-to-left {
	from {
		opacity: 1;
		translate: 0 0;
	}

	to {
		opacity: 0;
		translate: -100px 0;
	}
}

@keyframes exit-to-right {
	from {
		opacity: 1;
		translate: 0 0;
	}

	to {
		opacity: 0;
		translate: 100px 0;
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fade-out {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes overlay-animation {
	from {
		background-color: transparent;
		backdrop-filter: blur(0px);
	}

	to {
		backdrop-filter: blur(3px);
		background-color: rgba(0, 0, 0, 0.6);
	}
}
