/* Type scale; */

.heading-hero {
	color: var(--colour-text-hero);
	font-family: var(--typography-family-gantari);
	font-size: var(--size, var(--typography-size-32));
	font-weight: var(--typography-weight-bold);
	letter-spacing: -1px;
	line-height: var(--line, var(--line-height-heading-lg));

	@media (width >=40rem) {
		--line: var(--line-height-heading-xl);
		--size: var(--typography-size-48);
	}

	@media (width >=64rem) {
		--line: var(--line-height-heading-xl);
		--size: var(--size-hero-default);
	}
}

.heading-lg {
	color: var(--colour-text-heading-default);
	font-family: var(--typography-family-gantari);
	font-size: var(--size, var(--typography-size-32));
	font-weight: var(--typography-weight-bold);
	letter-spacing: -0.8px;
	line-height: var(--line, var(--line-height-heading-lg));

	@media (width >=40rem) {
		--size: var(--size-heading-lg);
		--line: var(--line-height-heading-lg);
	}
}

.heading-md {
	color: var(--colour-text-heading-default);
	font-family: var(--typography-family-gantari);
	font-size: var(--size, var(--typography-size-24));
	font-weight: var(--typography-weight-bold);
	letter-spacing: 0px;
	line-height: var(--line, var(--line-height-heading-md));
	line-height: 1.2;

	@media (width >=40rem) {
		--size: var(--size-heading-md);
		--line: var(--line-height-heading-md);
	}
}

.heading-sm {
	color: var(--colour-text-heading-default);
	font-family: var(--typography-family-gantari);
	font-size: var(--size, var(--typography-size-16));
	font-weight: var(--typography-weight-bold);
	letter-spacing: 0px;
	line-height: var(--line, var(--line-height-heading-sm));

	@media (width >=40rem) {
		--line: var(--line-height-heading-sm);
		--size: var(--size-heading-sm);
	}
}

.body-hero {
	color: var(--colour-text-hero-subheading);
	font-size: var(--size, var(--typography-size-16));
	font-weight: var(--typography-weight-regular);
	line-height: 1.5;

	@media (width >=40rem) {
		--size: var(--typography-size-20);
	}
}

.body-lg {
	color: var(--colour-text-body-default);
	font-size: var(--typography-size-20);
	font-weight: var(--typography-weight-regular);
	line-height: 1.5;
}

.body-md {
	color: var(--colour-text-body-default);
	font-size: var(--typography-size-16);
	font-weight: var(--typography-weight-regular);
	line-height: 1.5;
}

.body-sm {
	color: var(--colour-text-body-default);
	font-size: var(--typography-size-14);
	line-height: 1.5;
	font-weight: var(--typography-weight-regular);
}
