h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-stack-heading);
	font-optical-sizing: auto;
	font-weight: var(--typography-weight-bold);
	margin: 0;
	text-wrap: balance;
}

p,
span,
div,
li,
a,
button,
input,
textarea,
time,
select {
	font-family: var(--font-stack-body);
	text-box: trim-both cap alphabetic;
}

.anchor {
	color: var(--colour-neutral-white);
	text-decoration-color: var(--colour-primary-400);
	text-decoration-thickness: 0.3em;
	text-decoration: underline;
	text-underline-offset: 0.3em;
}

blockquote {
	hanging-punctuation: first last;
}
