/* Collection name: Base */
/* Mode: Default */
:root {
  --spacing-spacing-1: 1;
  --spacing-spacing-2: 2;
  --spacing-spacing-4: 4;
  --spacing-spacing-6: 6;
  --spacing-spacing-8: 8;
  --spacing-spacing-10: 10;
  --spacing-spacing-11: 11;
  --spacing-spacing-14: 14;
  --spacing-spacing-16: 16;
  --spacing-spacing-20: 20;
  --spacing-spacing-24: 24;
  --spacing-spacing-32: 32;
  --spacing-spacing-40: 40;
  --spacing-spacing-50: 50;
  --spacing-spacing-64: 64;
  --spacing-spacing-80: 80;
  --radius-radius-minimal: 4;
  --radius-radius-standard: 8;
  --radius-radius-comfortable: 13;
  --radius-radius-generous: 16;
  --radius-radius-large: 20;
  --radius-radius-card: 24;
  --radius-radius-pill: 9999;
  --sizing-width-site: 1440;
  --sizing-width-content: 1200;
  --spacing-spacing-160: 160;
  --spacing-spacing-320: 320;
  --colour-neutral-white: #ffffff;
  --icon-line-colour: var(--colour-brand-light);
  --icon-circle-colour: var(--colour-brand-dark);
  --icon-line-stroke: 0.8999999761581421;
  --colour-brand-dark: #113768;
  --colour-brand-light: #0598ce;
  --colour-primary-base: var(--colour-brand-dark);
  --colour-secondary-base: var(--colour-brand-light);
  --colour-accent-1-base: #ea5ec1;
  --colour-accent-2-base: #d19921;
  --colour-success-base: #55ff33;
  --colour-warning-base: #ff3337;
  --colour-warning-900: #ff3337;
  --colour-warning-800: #ff3337;
  --colour-warning-700: #ff3337;
  --colour-warning-600: #ff3337;
  --colour-warning-500: #ff3337;
  --colour-warning-400: #ff3337;
  --colour-warning-300: #ff3337;
  --colour-warning-200: #ff3337;
  --colour-warning-100: #ff3337;
  --colour-success-100: #55ff33;
  --colour-success-200: #55ff33;
  --colour-success-300: #55ff33;
  --colour-success-400: #55ff33;
  --colour-success-600: #55ff33;
  --colour-success-500: #55ff33;
  --colour-success-700: #55ff33;
  --colour-success-800: #55ff33;
  --colour-success-900: #55ff33;
  --colour-neutral-100: #fafafa;
  --colour-neutral-500: #7f7f7f;
  --colour-neutral-600: #626262;
  --colour-neutral-300: #b1b1b1;
  --colour-neutral-400: #939393;
  --colour-neutral-700: #484848;
  --colour-neutral-200: #dbdbdb;
  --colour-neutral-800: #2e2e2e;
  --colour-neutral-900: #1e1e1e;
  --colour-accent-2-100: #ffecc2;
  --colour-accent-2-400: #d19921;
  --colour-accent-2-200: #e7c273;
  --colour-accent-2-500: #9d7318;
  --colour-accent-2-800: #3c2f14;
  --colour-accent-2-600: #7e5c12;
  --colour-accent-2-700: #5a4415;
  --colour-accent-2-300: #dfac3e;
  --colour-accent-2-900: #2d230e;
  --colour-accent-1-200: #efaedc;
  --colour-accent-1-400: #572f4c;
  --colour-accent-1-100: #ffebf9;
  --colour-accent-1-500: #572f4c;
  --colour-accent-1-600: #572f4c;
  --colour-accent-1-900: #2f1a29;
  --colour-accent-1-700: #572f4c;
  --colour-accent-1-300: #e08ac7;
  --colour-accent-1-800: #3b2134;
  --colour-secondary-200: #9bdbf2;
  --colour-secondary-400: #38b1de;
  --colour-secondary-300: #5bc1e6;
  --colour-secondary-600: #0796ca;
  --colour-secondary-900: #032d3c;
  --colour-secondary-700: #0679a3;
  --colour-secondary-800: #094054;
  --colour-secondary-100: #d9f5ff;
  --colour-secondary-500: #0598ce;
  --colour-primary-300: #7399c6;
  --colour-primary-200: #90b2dc;
  --colour-primary-500: #416a9d;
  --colour-primary-100: #cae1ff;
  --colour-primary-900: #0a1f3a;
  --colour-primary-600: #2a568e;
  --colour-primary-700: #113768;
  --colour-primary-400: #567fb1;
  --colour-primary-800: #103361;
  --colour-neutral-black: #000000;
  --icon-line-bg-colour: #ff0000;
  --color: #ffffff;
  --typography-size-18: 18;
  --typography-line-height-default: 1.5;
  --typography-size-12: 12;
  --typography-line-height-tight: 1.100000023841858;
  --typography-weight-bold: 700;
  --typography-line-height-relaxed: 1.7000000476837158;
  --typography-weight-medium: 500;
  --typography-weight-regular: 400;
  --typography-size-14: 14;
  --typography-size-32: 32;
  --typography-size-80: 80;
  --typography-size-16: 16;
  --typography-size-28: 28;
  --typography-size-20: 20;
  --typography-size-24: 24;
  --typography-family-inter: Inter;
  --typography-weight-semi: 600;
  --typography-size-10: 10;
  --typography-family-gantari: Gantari;
  --typography-size-60: 60;
  --typography-size-48: 48;
  --typography-size-40: 40;
  --typography-size-56: 56;
}

/* Collection name: Typography */
/* Mode: Mode 1 */
:root {
  --size-body-xs: var(--typography-size-12);
  --size-body-md: var(--typography-size-16);
  --size-body-lg: var(--typography-size-20);
  --size-body-sm: var(--typography-size-14);
  --size-heading-h1: var(--typography-size-56);
  --size-heading-h2: var(--spacing-spacing-40);
  --size-heading-h4: var(--typography-size-24);
  --size-heading-h3: var(--typography-size-32);
  --size-hero-default: var(--typography-size-56);
  --line-height-hero-default: var(--typography-size-56);
  --line-height-heading-h1: 56;
  --line-height-heading-h2: 40;
  --line-height-heading-h3: 32;
  --line-height-heading-h4: 24;
  --line-height-body-xs: 18;
  --line-height-body-sm: 20;
  --line-height-body-md: 24;
  --line-height-body-lg: 30;
}

/* Collection name: Alias */
/* Mode: Bright */
:root {
  --colour-text-text-hero: var(--colour-text-heading-default);
  --colour-text-body-default: var(--colour-neutral-600);
  --colour-text-text-hero-subheading: var(--colour-text-body-default);
  --colour-text-heading-default: var(--colour-neutral-800);
  --colour-surface-success: #e8ffea;
  --colour-surface-surface: var(--colour-neutral-white);
  --colour-surface-dark: #181e25;
  --colour-surface-light-gray: #f0f0f0;
  --colour-surface-white: var(--colour-neutral-white);
  --colour-border-border-gray: #e5e7ea;
  --colour-border-border-light: #f2f3f5;
}

/* Collection name: Alias */
/* Mode: Dimmed */
:root {
  --colour-text-text-hero: var(--colour-text-heading-default);
  --colour-text-body-default: var(--colour-neutral-600);
  --colour-text-text-hero-subheading: var(--colour-text-body-default);
  --colour-text-heading-default: var(--colour-neutral-800);
  --colour-surface-success: #e8ffea;
  --colour-surface-surface: var(--colour-neutral-white);
  --colour-surface-dark: #181e25;
  --colour-surface-light-gray: #f0f0f0;
  --colour-surface-white: var(--colour-neutral-white);
  --colour-border-border-gray: #e5e7ea;
  --colour-border-border-light: #f2f3f5;
}