/* Collection name: Base */
:root {
	/* Spacing */
	--spacing-spacing-1: 1px;
	--spacing-spacing-2: 2px;
	--spacing-spacing-4: 4px;
	--spacing-spacing-6: 6px;
	--spacing-spacing-8: 8px;
	--spacing-spacing-10: 10px;
	--spacing-spacing-11: 11px;
	--spacing-spacing-14: 14px;
	--spacing-spacing-16: 16px;
	--spacing-spacing-20: 20px;
	--spacing-spacing-24: 24px;
	--spacing-spacing-32: 32px;
	--spacing-spacing-40: 40px;
	--spacing-spacing-50: 50px;
	--spacing-spacing-60: 60px;
	--spacing-spacing-64: 64px;
	--spacing-spacing-80: 80px;
	--spacing-spacing-160: 160;
	--spacing-spacing-320: 320;

	/* Radius */
	--radius-minimal: 4px;
	--radius-standard: 8px;
	--radius-comfortable: 13px;
	--radius-generous: 16px;
	--radius-large: 20px;
	--radius-card: 24px;
	--radius-pill: 9999px;
	--radius-circle: 50%;

	/* Sizing */
	--sizing-width-site: 1440;
	--sizing-width-content: 1200;

	/* Brand colours */
	--colour-brand-dark: #113768;
	--colour-brand-light: #0598ce;

	/* Primary */
	--colour-primary-base: var(--colour-brand-dark);
	--colour-primary-100: #cae1ff;
	--colour-primary-200: #90b2dc;
	--colour-primary-300: #7399c6;
	--colour-primary-400: #567fb1;
	--colour-primary-500: #416a9d;
	--colour-primary-600: #2a568e;
	--colour-primary-700: #113768;
	--colour-primary-800: #103361;
	--colour-primary-900: #0a1f3a;

	/* Secondary */
	--colour-secondary-base: var(--colour-brand-light);
	--colour-secondary-100: #d9f5ff;
	--colour-secondary-200: #9bdbf2;
	--colour-secondary-300: #5bc1e6;
	--colour-secondary-400: #38b1de;
	--colour-secondary-500: #0598ce;
	--colour-secondary-600: #0796ca;
	--colour-secondary-700: #0679a3;
	--colour-secondary-800: #094054;
	--colour-secondary-900: #032d3c;

	/* Neutral */
	--colour-neutral-white: #ffffff;
	--colour-neutral-100: #fafafa;
	--colour-neutral-500: #7f7f7f;
	--colour-neutral-600: #626262;
	--colour-neutral-300: #b1b1b1;
	--colour-neutral-400: #939393;
	--colour-neutral-700: #484848;
	--colour-neutral-200: #dbdbdb;
	--colour-neutral-800: #2e2e2e;
	--colour-neutral-900: #1e1e1e;
	--colour-neutral-black: #000000;

	/* Accent 1 */
	--colour-accent-1-base: #ea5ec1;
	--colour-accent-1-100: #ffebf9;
	--colour-accent-1-200: #efaedc;
	--colour-accent-1-300: #e08ac7;
	--colour-accent-1-400: #c374ad;
	--colour-accent-1-500: #ab5b95;
	--colour-accent-1-600: #8a4b79;
	--colour-accent-1-700: #572f4c;
	--colour-accent-1-800: #3b2134;
	--colour-accent-1-900: #2f1a29;

	/* Accent 2 */
	--colour-accent-2-base: #d19921;
	--colour-accent-2-100: #ffecc2;
	--colour-accent-2-200: #e7c273;
	--colour-accent-2-300: #dfac3e;
	--colour-accent-2-400: #d19921;
	--colour-accent-2-500: #9d7318;
	--colour-accent-2-600: #7e5c12;
	--colour-accent-2-700: #5a4415;
	--colour-accent-2-800: #3c2f14;
	--colour-accent-2-900: #2d230e;

	/* Warning */
	--colour-warning-base: #ff3337;
	--colour-warning-900: #ff3337;
	--colour-warning-800: #ff3337;
	--colour-warning-700: #ff3337;
	--colour-warning-600: #ff3337;
	--colour-warning-500: #ff3337;
	--colour-warning-400: #ff3337;
	--colour-warning-300: #ff3337;
	--colour-warning-200: #ff3337;
	--colour-warning-100: #ff3337;

	/* Success */
	--colour-success-base: #55ff33;
	--colour-success-100: #55ff33;
	--colour-success-200: #55ff33;
	--colour-success-300: #55ff33;
	--colour-success-400: #55ff33;
	--colour-success-600: #55ff33;
	--colour-success-500: #55ff33;
	--colour-success-700: #55ff33;
	--colour-success-800: #55ff33;
	--colour-success-900: #55ff33;

	/* Family */
	--typography-family-inter: Inter;
	--typography-family-gantari: Gantari;

	/* Line height */
	--typography-line-height-default: 1.5;
	--typography-line-height-tight: 1.100000023841858;
	--typography-line-height-relaxed: 1.7000000476837158;

	/* Weight */
	--typography-weight-regular: 400;
	--typography-weight-medium: 500;
	--typography-weight-semi: 600;
	--typography-weight-bold: 700;

	/* Size */
	--typography-size-12: 12;
	--typography-size-10: 10px;
	--typography-size-14: 14px;
	--typography-size-16: 16px;
	--typography-size-18: 18px;
	--typography-size-20: 20px;
	--typography-size-24: 24px;
	--typography-size-28: 28px;
	--typography-size-32: 32px;
	--typography-size-40: 40px;
	--typography-size-48: 48px;
	--typography-size-56: 56px;
	--typography-size-60: 60px;
	--typography-size-80: 80px;

	/* Lines */
	--icon-line-bg-colour: #ff0000;
	--icon-line-colour: var(--colour-brand-light);
	--icon-circle-colour: var(--colour-brand-dark);
	--icon-line-stroke: 0.9;
}

/* Collection name: Typography */
:root {
	/* Font scale */
	--size-body-xs: var(--typography-size-12);
	--size-body-sm: var(--typography-size-14);
	--size-body-md: var(--typography-size-16);
	--size-body-lg: var(--typography-size-20);
	--size-heading-h1: var(--typography-size-56);
	--size-heading-h2: var(--spacing-spacing-40);
	--size-heading-h4: var(--typography-size-24);
	--size-heading-h3: var(--typography-size-32);

	--size-hero-default: var(--typography-size-40);

	@media (width >=40rem) {
		--size-hero-default: var(--typography-size-56);
	}

	/* Line height */
	--line-height-hero-default: var(--typography-size-56);

	--line-height-heading-h1: 56px;
	--line-height-heading-h2: 40px;
	--line-height-heading-h3: 32px;
	--line-height-heading-h4: 24px;
	--line-height-body-xs: 18px;
	--line-height-body-sm: 20px;
	--line-height-body-md: 24px;
	--line-height-body-lg: 30px;
}

/* Collection name: Alias */
:root {
	/* Hero */
	--colour-text-text-hero: var(--colour-text-heading-default);
	--colour-text-text-hero-subheading: var(--colour-text-body-default);
	/* Text */
	--colour-text-heading-default: var(--colour-neutral-800);
	--colour-text-body-default: var(--colour-neutral-600);

	/* Surface */
	--colour-surface-success: #e8ffea;
	--colour-surface-surface: var(--colour-neutral-white);
	--colour-surface-dark: #181e25;
	--colour-surface-light-gray: #f0f0f0;
	--colour-surface-white: var(--colour-neutral-white);
	--colour-surface-white-transparent: rgba(255, 255, 255, 0.8);
	--colour-border-border-gray: #e5e7ea;
	--colour-border-border-light: #f2f3f5;
}
