{% set graphic = attributes.graphic|default('connected-dots') %}
{% set section_bg_colour = attributes.sectionBgColour|default('white') %}
{% set shader_colour = attributes.shaderColour|default('blue') %}

<section
	class="section-block block-intro-page"
	data-bg="{{ section_bg_colour }}"
	style="--section-bg-colour: var(--surface-{{ section_bg_colour }});">
	<canvas id="shader-{{ shader_colour }}" class="subpage-shader"></canvas>
	<block-content class="block-content">
		{{ content|raw }}
	</block-content>
</section>
