@keyframes fade-in {
	to {
		opacity: 1;
	}
}

.block-intro-page {
	overflow: clip;
	view-transition-name: intro-page;

	.block-content {
		display: grid;
		grid-column: content;
		grid-template-columns: 1fr;
		gap: var(--spacing-50);
		z-index: 1;

		@media (width >=80rem) {
			grid-template-areas:
				'a .'
				'. b';
			gap: var(--spacing-50);
			grid-template-columns: 1fr 1fr;
		}
	}

	.subpage-shader {
		width: 100%;
		aspect-ratio: 1;
		position: absolute;
		inset: 0;
		z-index: 0;
		grid-column: breakout;
		top: 50%;
		transform: translateY(-50%);
		animation: 1.5s fade-in forwards ease-in;
		opacity: 0;
	}

	.card-geo-list {
		&:first-child {
			translate: -10px 0;
			opacity: 0;
			transition: all 0.3s ease-in-out;
			transition-delay: calc(0.1s * sibling-index());

			.in-view & {
				translate: 0 0;
				opacity: 1;
			}
		}

		&:last-child {
			translate: 10px 0;
			opacity: 0;
			transition: all 0.3s ease-in-out;
			transition-delay: calc(0.1s * sibling-index());

			.in-view & {
				translate: 0 0;
				opacity: 1;
			}

			@media (width >=80rem) {
				grid-area: b;
			}
		}
	}
}
