{% set graphic = attributes.graphic|default('connected-dots') %}

<section class="block-intro-page">
	<canvas id="subpage-shader" class="subpage-shader"></canvas>
	<block-content class="block-content">
		{{ content|raw }}
	</block-content>
</section>
