{% set heading = attributes.heading|default('') %}
{% set span_columns = attributes.spanColumns|default('1') %}

<article class="card-text-simple" data-span-columns="{{ span_columns }}">
	<h2 class="heading-md">
		{{ heading|strip_html }}
	</h2>
	<body-article class="body-article">
		{{ content|raw }}
	</body-article>
</article>
